<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="icon" href="/images/OldManFavicon.png">
    <title th:text="'Таблица заказов: '+ ${#authentication.name}">Таблица заказов</title>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous"/>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap.min.css">
    <link href="/css/designerDashBoard.css" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="/css/commentMaster.css" media="all">
    <link rel="stylesheet" href="/css/profile.css ">

    <!-- Angular JS -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-animate.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-sanitize.js"></script>
    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.5.0.js"></script>
    <script th:src="@{/js/masterOrderModule.js}"></script>

</head>

<body ng-app="masterOrderForm">
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand navbar-link" href="#">CaseMobile</a>
            </div>
            <div class="collapse navbar-collapse" id="navcol-1">
                <th:block th:each="element:  ${#authentication.getAuthorities()}">
                    <ul class="nav navbar-nav" th:each="function : ${element.getFunctions()}">
                        <li role="presentation">
                            <a th:text="${function?.getName()}" th:href="${function.getLink()}"></a>
                        </li>
                    </ul>
                </th:block>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#userProfile" data-toggle="modal"><span sec:authentication="principal"></span></a></li>
                    <li>
                        <form ng-controller="NotificationController" class="navbar-form navbar-right">
                            <a th:href="@{/order/designer/notification/get}" ng-hide="notifications.length == 0" ng-cloak><span class="glyphicon glyphicon-comment" style="font-size: 22px; color: white"></span><span class="badge badge-notify" style="background: #ff6d3c">{{notifications.length}}</span></a>
                        </form>
                    </li>
                    <li>
                        <a href="/logout">Выход <span class="glyphicon glyphicon-log-out"></span></a>
                    </li>
				</ul>
            </div>
        </div>
    </nav>
	<br><br><br><br>
    <div class="container">
        <div class="table-responsive">
            <table id="DesignerTable" class="table table-bordered" cellspacing="0" width="100%">
                <thead >
                    <tr>
                        <th>№ Заказа</th>
                        <th>Дизайнер</th>
                        <th>Менеджер</th>
                        <th>Статус</th>
                        <th>Дата получения</th>
                        <th>Действие</th>
                    </tr>
                </thead>
                <tbody th:if="${orders}">
                    <tr th:each ="order: ${orders}">
                        <td th:text="${order.getNumber()}"></td>
                        <td th:text="${order.getDesigner()}"></td>
                        <td th:text="${order.getManager()}"></td>
                        <td th:text="${order.getStatus()}" ></td>
                        <td th:text="${order.getDateRecieved()}"></td>
                        <td align="center">
                            <a class="btn btn-info btn-sm" th:href="${'/designer/order/' + order.getId()}" title="Открыть заказ">
                                <span class="glyphicon glyphicon-folder-open"> Открыть</span>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>




    <!-- Профиль модальное окно -->
    <div id="userProfile" class="modal  ">
        <div class="modal-dialog">


            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="well well-sm">
                            <div class="row">
                                <div class="col-sm-6 col-md-4 profileContent">
                                    <img id="avatarImg" alt=""
                                         class="img-rounded img-responsive centre"
                                         th:src="${#authentication.getPrincipal()?.avatar}"  />
                                    <input type="file" id='avatar' name="avatar"
                                           style="display: none"/>
                                    <label for="avatar" >
                                        <span class="btn btn-sm btn-info">Выбрать аватар...</span>
                                    </label>
                                    <label id="avatarBtn" class="btn btn-primary" style="display: none;"  >Сменить
                                        аватар</label>

                                </div>
                                <div class="col-sm-6 col-md-8">
                                    <h4
                                        th:text="${#authentication.getPrincipal()?.firstName} +' '+ ${#authentication.getPrincipal()?.secName}" >
                                        Name Secname</h4>
                                    <small><cite th:text="${#authentication.getPrincipal()?.created}"><i
                                        class="glyphicon glyphicon-time">
                                    </i></cite></small>
                                    <p>
                                        <i class="glyphicon glyphicon-user"  ></i><span
                                        th:text="${#authentication.getPrincipal().name}"></span>
                                        <br />
                                        <i class="glyphicon glyphicon-education"  ></i><span
                                        th:text="${#authentication.getPrincipal()?.position}"></span>
                                        <br />
                                        <i class="glyphicon glyphicon-envelope"  ></i><span
                                        th:text="${#authentication.getPrincipal()?.email}"></span>
                                        <br />
                                        <i class="glyphicon glyphicon-phone-alt"></i><span
                                        th:text="${#authentication.getPrincipal()?.phone}"></span>
                                        <br />
                                        <th:block th:each="element: ${#authentication.getPrincipal()?.roles}">
                                            <i class="glyphicon glyphicon-briefcase"></i>
                                            <span th:text="${element?.name}"></span>
                                        </th:block>
                                    </p>
                                    <!-- Split button -->

                                    <div class="row col-sm-12">
                                        <div class="col-sm-6 left" >
                                            <a  href="#" id ="changePassword">Изменить пароль</a>
                                        </div>

                                        <div class="btn-group col-sm-6 profileClose">
                                            <button type="button" class="btn btn-primary btn-sm right"
                                                    data-dismiss="modal" onclick="hideChangeBtn()">
                                                Закрыть
                                            </button>
                                        </div>

                                    </div>


                                    <div class = "row col-lg-12">
                                        <span id="errorCurrentPass"></span>

                                        <div class="input-group">
                                            <input id="currentPass" class="form-control" style="display: none;margin-top:
                                                       5px"
                                                   placeholder="Текущий пароль"  type="password" required>
                                        </div>

                                        <div class="input-group">
                                            <input id="newPass" class="form-control profileMargin"
                                                   placeholder="Новый пароль" style="display: none" type="password" required >
                                        </div>

                                        <div class="input-group">
                                            <input id="replyPass" class="form-control profileMargin"
                                                   placeholder="Повторите пароль" style="display: none" type="password" required >
                                        </div>

                                        <button id="changePassBtn" class="btn btn-sm  btn-success profileMargin" style="display: none" > Применить
                                        </button>
                                        <button type="submit" id="cancelPassBtn profileMargin" class="btn btn-sm  btn-warning"
                                                style="display: none" > Отмена</button>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" crossorigin="anonymous"></script>

    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function() {
            $('#DesignerTable').DataTable({
                "oLanguage": {
                    "sLengthMenu": "Показать _MENU_ записей на странице",
                    "sZeroRecords": "Извините - ничего не найдено",
                    "sInfo": "Показано _START_ до _END_ из _TOTAL_ записей",
                    "sInfoEmpty": "Нет записей",
                    "sInfoFiltered": "(из _MAX_ записей)",
                    "sSearch": "Поиск:",
                    "oPaginate": {
                        "sNext": "След. стр.",
                        "sPrevious": "Пред. стр."
                    }
                }
            });
        });
    </script>

    <script src="/js/profile.js"></script>
</body>
</html>