<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html>

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Manager Dash Board</title>



    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.16/cr-1.4.1/kt-2.3.2/r-2.2.0/rg-1.0.2/rr-1.2.3/sl-1.2.3/datatables.min.css"/>



    <link rel="stylesheet" type="text/css" href="/css/mxstyle.css" media="all">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"/>
	
</head>

<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header"><a class="navbar-brand navbar-link" href="#">CaseMobile</a>
                <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navcol-1">
                	<span class="sr-only">
                		Toggle navigation
                	</span>
                	<span class="icon-bar"></span>
                	<span class="icon-bar"></span>
                	<span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="navcol-1">
            
                <ul class="nav navbar-nav">
                    <li class="active" role="presentation"><a href="#">Заказы</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
					<li><a href="#">Дизайнер</a></li>
					<li>
						<form class="navbar-form navbar-right">
                            <form class="navbar-form navbar-right">
                                <a class="btn btn-sm btn-info logout" th:href="@{/logout}">Выход</a>
                            </form>
						</form>
					</li>
					
				</ul>
                
            </div>
        </div>
    </nav>

	<br>
    <div class="container">
		<div class="row">
			<div class="col-lg-4 col-xs-12" align="Left">
				<div class="btn-group paggingL15">
					<a href="#" class="btn btn-default">Фильтр</a>
					<a href="#" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
						<span class="caret"></span>
					</a>
					<ul class="dropdown-menu dropdown-menu-right">
						<li><a href="#">Фильтр 1</a></li>
						<li><a href="#">Фильтр 2</a></li>
						<li><a href="#">Фильтр 3</a></li>
					</ul>
				</div>
			</div>
			<div>
				<form action="/designer/search" method="post" id="searchForm">
			<div class="col-lg-4 col-xs-12" align="right">
				<div class="btn-group">
				<button type="button" class="btn btn-default" >Расширенный поиск</button>
				<button type="button" data-toggle="dropdown" class="btn btn-default dropdown-toggle" ><span class="caret" align="right"></span></button>
				<ul class="dropdown-menu" >
					<li><a href="#">Пункт 1</a></li>
					<li><a href="#">Пункт 2</a></li>
					<li class="divider"></li>
					<li><a href="#">Пункт 3</a></li>
				</ul>
			</div>
			</div>

			<div class="col-lg-4" align="Right" style="align-items: flex-end">
				<div class="input-group" align="Right">
					<input type="text" class="form-control" placeholder="Поиск" name="search">
					<span class="input-group-btn">
						<button class="btn btn-default">Найти</button>
					</span>
				</div>
			</div>
				</form>
			</div>

		</div>
    </div>

	<br>

    <div class="container ">

        <div class="col-xs-12">
            <table class="table table-bordered data" text-align="center"  id="example" >
                <thead >
                    
                
                    <tr class="tableHead">
                        <th >№ Заказа</th>
                        <th>Дизайнер</th>
                        <th>Менеджер</th>
                        <th>Статус</th>
                        <th>Дата получения</th>
                        <th>Дата отправки оплаты</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody th:if="${orders}">
				<tr th:each ="element: ${orders}">
					<td th:text="${element.getNumber()}"></td>
					<td th:text="${element.getDesigner()}"></td>
					<td th:text="${element.getManager()}"></td>
					<td th:text="${element.getStatus()}" ></td>
					<td th:text="${element.getDateRecieved()}"></td>
					<td th:text="${element.getDateTransferred()}"></td>

					<td>
						<form action="/designer/order" method="get" id="order">
						<button class="btn btn-info btn-xs"  type="submit" form="order" name="orderId" th:value="${element.getId()}">
						<span class="glyphicon glyphicon-pencil"></span>
					</button>
						</form>
					</td>
				</tr>

                </tbody>
            </table>
        </div>
    </div>
    

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"
            integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"
            integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.16/cr-1.4.1/kt-2.3.2/r-2.2.0/rg-1.0.2/rr-1.2.3/sl-1.2.3/datatables.min.js"></script>


    <script>
    $(document).ready(function() {
        $('#example').DataTable( {
            language: {
                select: {
                    rows: {
                        _: "Выберете %d rows",
                        1: "Выбрано 1 row"
                    }
                }
            },
            select: true
        });
    } );

</script>
</body>
</html>