<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <title th:text="'Заказ № ' + ${order.number}"> Заказ №</title>

    <!--для комментов-->
    <link rel="stylesheet" type="text/css" href="/css/commentMaster.css" media="all">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/mxComment.css"/>
    <link rel="stylesheet" href="/css/profile.css ">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"/>

    <!-- Angular JS -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-animate.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-sanitize.js"></script>
    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.5.0.js"></script>
    <script th:src="@{/js/masterOrderModule.js}"></script>

    <link rel="stylesheet" type="text/css" href="/css/designerOrderForm.css" media="all">
</head>

<body onload="checkStatus();" ng-app="masterOrderForm">
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand navbar-link" href="/designer">CaseMobile</a>
        </div>
        <div class="collapse navbar-collapse" id="navcol-1">
            <div class="col-lg-8">
                <th:block th:each="element:  ${#authentication.getAuthorities()}">
                    <ul class="nav navbar-nav" th:each="function : ${element.getFunctions()}">
                        <li role="presentation"><a th:text="${function?.getName()}" th:href="${function.getLink()}"></a></li>
                    </ul>
                </th:block>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#userProfile" data-toggle="modal"><span sec:authentication="principal"></span></a></li>
                <li>
                    <form ng-controller="NotificationController" class="navbar-form navbar-right">
                        <a th:href="@{/designer/order/notification/get}" ng-hide="notifications.length == 0" ng-cloak><span class="glyphicon glyphicon-comment" style="font-size: 22px; color: white"></span><span class="badge badge-notify" style="background: #ff6d3c">{{notifications.length}}</span></a>
                    </form>
                </li>
                <li>
                    <a href="/logout">Выход <span class="glyphicon glyphicon-log-out"></span></a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<br><br><br>
<div class="container">
    <div style="text-align: center">
        <h4 th:text="${'Заказ № ' + order.number + ' от ' + order.getCreated()} +' ' + ${'Статус заказа: ' + order?.getStatus().toString()}"></h4>
    </div>
    <hr>
    <div class="row">
        <div class="col-lg-9">
            <ul id="myTab2" class="nav nav-tabs" >
                <li><a href="#tabItem" data-toggle="tab" >Заказ</a></li>
                <li><a href="#tabComments" data-toggle="tab" onselect="toggleArea1()" >Комментарии</a></li>
                <li><a href="#tabHistory" data-toggle="tab" >История</a></li>
            </ul>

            <div class="tab-content">
                <!-- ITEM -->
                <div class="tab-pane active " id="tabItem" role="tabpanel">
                    <table class="table table-bordered data borderSimple" >
                        <tr class="tableHead">
                            <th>№ Позиции</th>
                            <th>Продукт</th>
                            <th>Количество</th>
                            <th>Модель телефона</th>
                            <th>Материал</th>
                            <th>Статус</th>
                            <th></th>
                        </tr>
                        <tr th:each ="item, stat: ${order.getItems()}">
                            <td th:text="${stat.count}"> </td>
                            <td th:text="${item.product.getProductName()}"></td>
                            <td th:text="${item.getCount()}"></td>
                            <td th:text="${item.phoneModel.getModelName()}"></td>
                            <td th:text="${item.getMaterial()}"></td>
                            <td th:text="${item.getStatusString()}" name="status" th:value="${item.getStatus()}"></td>
                            <td align="center">
                                <a class="btn btn-info btn-sm" th:href="${'/designer/order/item/' + order.getId() + '/' + item.getId()}" title="Открыть заказ">
                                    <span class="glyphicon glyphicon-folder-open"> Открыть</span>
                                </a>
                            </td>
                        </tr>
                    </table>
                </div> <!--end Item-->

                <!-- Комментарии -->
                <div class="tab-pane fade" id="tabComments" role="tabpanel" >
                    <div class="row" style="background-color: grey; border: solid; border-color:grey; border-radius: 5px" id="scroll">
                        <div class="comments-container" >
                            <ul id="comments-list" class="comments-list"
                                th:each="element: ${order.getComments()}">
                                <li>
                                    <div class="comment-main-level">
                                        <div class="comment-avatar" th:if="${element.getCreatedBy().getAvatar() != null}"> <img class="img-responsive user-photo" th:src="${element.getCreatedBy().getAvatar()}"></div>
                                        <div class="comment-avatar" th:if="${element.getCreatedBy().getAvatar() == null}"> <img class="img-responsive user-photo" src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png"></div>
                                        <div class="comment-box">
                                            <div class="comment-head">
                                                <h6 class="comment-name by-author" th:text="${element.getCreatedBy()}"></h6>
                                                <a class="receiver" th:text="${element.getSentTo()}" style="background: steelblue"></a>
                                                <span th:text="${element.getTime()}"></span>
                                                <span style="display: inline-block; margin-left: 5px" th:if="${#authentication.principal.name == element.getCreatedBy().getName()}"><a th:href="@{'/order/comment/delete=' + ${element.getId()}}" class="glyphicon glyphicon-trash"></a></span>
                                                <span onclick="toggleComment(event)" style="display: inline-block; margin-left: 5px" th:if="${#authentication.principal.name == element.getCreatedBy().getName()}"><a class="glyphicon glyphicon-edit"></a></span>
                                                <i th:if="${#authentication.principal.name != element.getCreatedBy().getName()}" class="fa fa-reply" th:onclick="'showHide(\'' + ${element} + '\');'" th:id="${element}+'Btn'">Ответить</i>
                                            </div>
                                            <!-- Основной комментарий -->
                                            <div class="comment-content" th:utext="${element.getContent()}"></div>

                                            <div class="comment-content comment-edition">
                                                <form th:action="'/order/comment/edit=' + ${element.getId()}" th:if="${#authentication.principal.name == element.getCreatedBy().getName()}" method="post">
                                                    <textarea class="form-control" name="editText" th:utext="${element.getContent()}"></textarea>
                                                    <button class="btn btn-info btn-sm" type="submit" th:value="${element.getId()}" style="margin-top: 5px">Сохранить</button>
                                                </form>
                                            </div>
                                            <!-- Конец комментария -->
                                            <div th:id="${element}" style="display: none; " class="container-fluid">
                                                <form th:action="'/order/comment/add='+${order.getId()}" method="post" th:id="${element}+'Frm'">
                                                    <textarea class="form-control " th:id="${element}+'Text'"
                                                              name="commentText"></textarea>
                                                    <input type="hidden" name="sendTo" th:value="${element.getCreatedBy()}"/>
                                                    <div style="text-align: right; margin-top: 5px">
                                                        <button class="btn btn-info btn-sm" type="submit" name="commentBtnOrder" th:value="${element.getId()}">Отправить</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    <ul class="comments-list reply-list" th:each="element2: ${element.getAnswers()}">
                                        <li>
                                            <div class="comment-avatar" th:if="${element2.getCreatedBy().getAvatar() != null}"> <img class="img-responsive user-photo" th:src="${element2.getCreatedBy().getAvatar()}"></div>
                                            <div class="comment-avatar" th:if="${element2.getCreatedBy().getAvatar() == null}"> <img class="img-responsive user-photo" src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png"></div>
                                            <div class="comment-box">
                                                <div class="comment-head">
                                                    <h6 class="comment-name" th:text="${element2.getCreatedBy()}"></h6>
                                                    <span th:text="${element2.getTime()} "></span>
                                                    <span style="display: inline-block; margin-left: 5px" th:if="${#authentication.principal.name == element2.getCreatedBy().getName()}"><a th:href="@{'/order/comment/delete=' + ${element2.getId()}}" class="glyphicon glyphicon-trash"></a></span>
                                                    <span onclick="toggleComment(event)" style="display: inline-block; margin-left: 5px" th:if="${#authentication.principal.name == element2.getCreatedBy().getName()}"><a href="#" class="glyphicon glyphicon-edit"></a></span>
                                                </div>
                                                <!-- Ответ на комментарий -->
                                                <div class="comment-content" th:utext="${element2.getContent()}"></div>

                                                <div class="comment-content comment-edition">
                                                    <form th:action="'/order/comment/edit=' + ${element2.getId()}" th:if="${#authentication.principal.name == element2.getCreatedBy().getName()}" method="post">
                                                        <textarea class="form-control" name="editText" th:utext="${element2.getContent()}"></textarea>
                                                        <button class="btn btn-info btn-sm" type="submit" th:value="${element2.getId()}" style="margin-top: 5px">Сохранить</button>
                                                    </form>
                                                </div>
                                                <!--  Конец ответа на комментарий -->
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- Написать комментарий -->
                    <div class="row" style="background-color: grey; border: solid; border-color:grey; border-radius: 5px">
                        <div class="panel-footer" ng-controller="MasterOrderController">
                            <form th:action="'/order/comment/add='+${order.getId()}" method="post">
                                <input name="recipient" type="text" ng-model="asyncSelected" placeholder="Кому" autocomplete="off" typeahead-editable="false" typeahead-on-select="typeHeadSelect($item, $model, $label, $event)" uib-typeahead="address for address in getUsers($viewValue)" typeahead-loading="loadingLocations" typeahead-no-results="noResults" class="form-control">
                                <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
                                <div ng-show="noResults">
                                    <i class="glyphicon glyphicon-remove"></i> No Results Found
                                </div>
                                <textarea onfocus="toggleArea1()" class="form-control" name="commentText" placeholder="Напишите сообщение..." id="e_content" style="margin-top: 5px"></textarea>
                                <button class="btn btn-info btn-sm" type="submit" id="btn-chat" ng-disabled="!buttonEnabled"
                                        style="text-align: right; margin-top: 5px">Написать комментарий
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- Конец комментариев -->
                <!-- История -->
                <div class="tab-pane" id="tabHistory" role="tabpanel">
                    <table class="table table-bordered data">
                        <thead>
                        <tr class="tableHead">
                            <th>Дата получения</th>
                            <th>Дата отправки</th>
                            <th>Статус</th>
                            <th>Отправитель</th>
                            <th>Получатель</th>
                        </tr>
                        </thead>
                        <tbody>

                        <tr th:each="history: ${order.getHistories()}">
                            <td th:text="${history.getDateRecievedString()}">
                            <td th:text="${history.getDateTransferredString()}">
                            <td th:text="${history.getStatus()}">
                            <td th:text="${history.getFrom()}">
                            <td th:text="${history.getTo()}">
                        </tbody>
                    </table>
                </div>
                <!-- Конец истории -->
            </div>
        </div>
        <div class="col-lg-3">
            <br><br>
            <form th:action="'/designer/send/order=' + ${order.getId()}" id="sendOrder" method="post">
                <button class="btn btn-success width100 form-control" type="submit" form="sendOrder" name="sendBtn"
                        disabled >Отправить</button>
            </form>
            <br>
            <div>
                <a class="btn btn-success" th:href="@{/designer}" title="Вернуться назад" style="width: 100%">
                    <span class="glyphicon glyphicon-arrow-left"> Назад</span>
                </a>
            </div>
        </div> <!--end col-lg-3-->

    </div> <!--end row-->
</div> <!--end container-->


<!-- Профиль модальное окно -->
<div id="userProfile" class="modal  ">
    <div class="modal-dialog">


        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-6">
                    <div class="well well-sm">
                        <div class="row">
                            <div class="col-sm-6 col-md-4 profileContent">
                                <img id="avatarImg" alt=""
                                     class="img-rounded img-responsive centre"
                                     th:src="${#authentication.getPrincipal()?.avatar}"  />
                                <input type="file" id='avatar' name="avatar"
                                       style="display: none"/>
                                <label for="avatar" >
                                    <span class="btn btn-sm btn-info profileMargin">Выбрать аватар...</span>
                                </label>
                                <label id="avatarBtn" class="btn btn-primary profileMargin" style="display: none;"  >Сохранить</label>
                                <p> <span id = "avatarMessage"></span> </p>
                            </div>
                            <div class="col-sm-6 col-md-8">
                                <h4
                                    th:text="${#authentication.getPrincipal()?.firstName} +' '+ ${#authentication.getPrincipal()?.secName}" >
                                    Name Secname</h4>
                                <small><cite th:text="${#authentication.getPrincipal()?.created}"><i
                                    class="glyphicon glyphicon-time">
                                </i></cite></small>
                                <p>
                                    <i class="glyphicon glyphicon-user"  ></i><span
                                    th:text="${#authentication.getPrincipal().name}"></span>
                                    <br />
                                    <i class="glyphicon glyphicon-education"  ></i><span
                                    th:text="${#authentication.getPrincipal()?.position}"></span>
                                    <br />
                                    <i class="glyphicon glyphicon-envelope"  ></i><span
                                    th:text="${#authentication.getPrincipal()?.email}"></span>
                                    <br />
                                    <i class="glyphicon glyphicon-phone-alt"></i><span
                                    th:text="${#authentication.getPrincipal()?.phone}"></span>
                                    <br />
                                    <th:block th:each="element: ${#authentication.getPrincipal()?.roles}">
                                        <i class="glyphicon glyphicon-briefcase"></i>
                                        <span th:text="${element?.name}"></span>
                                    </th:block>
                                </p>
                                <!-- Split button -->

                                <div class="row col-sm-12">
                                    <div class="col-sm-6 left" >
                                        <a  href="#" id ="changePassword">Изменить пароль</a>
                                    </div>

                                    <div class="btn-group col-sm-6 profileClose">
                                        <button type="button" class="btn btn-primary btn-sm right"
                                                data-dismiss="modal" onclick="hideChangeBtn()">
                                            Закрыть
                                        </button>
                                    </div>

                                </div>


                                <div class = "row col-lg-12">
                                    <span id="errorCurrentPass"></span>

                                    <div class="input-group">
                                        <input id="currentPass" class="form-control" style="display: none;margin-top:
                                                       5px"
                                               placeholder="Текущий пароль"  type="password" required>
                                    </div>

                                    <div class="input-group">
                                        <input id="newPass" class="form-control profileMargin"
                                               placeholder="Новый пароль" style="display: none" type="password" required >
                                    </div>

                                    <div class="input-group">
                                        <input id="replyPass" class="form-control profileMargin"
                                               placeholder="Повторите пароль" style="display: none" type="password" required >
                                    </div>

                                    <button id="changePassBtn" class="btn btn-sm  btn-success profileMargin" style="display: none" > Применить
                                    </button>
                                    <button type="submit" id="cancelPassBtn" class="btn btn-sm  btn-warning profileMargin"
                                            style="display: none" > Отмена</button>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="http://js.nicedit.com/nicEdit-latest.js" type="text/javascript"></script>
<script src="/js/mxscript.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<script src="/js/tabs.js"></script>

<!--переключение вкладок при создании комментария и открытии заказа с комментарием-->
<script th:inline="javascript">
    var tab = [[${tabIndex}]];
    var x = getQueryParam('tabIndex');

    if (x < 0) {
        $("#myTab2 li:eq(0) a").tab('show');
    }

    if (tab != null ) {
        $('#myTab2 li:eq('+tab +') a').tab('show');

    } else {

        if (x > 0) {
            $('#myTab2 li:eq('+x +') a').tab('show');
        } else {
            $("#myTab2 li:eq(0) a").tab('show');
        }
    }
</script>

<script src="/js/profile.js"></script>

</body>
</html>