<html html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="../../favicon.ico">

    <title>CaseMobile</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" crossorigin="anonymous"/>

    <link href="/css/signin.css" rel="stylesheet">

</head>

<body>
<div class="container">
    <div class="row">
        <div class="col-lg-4 col-lg-offset-4">
            <br><br><br><br>
            <h2 class="form-signin-heading" align="center">Авторизация</h2>
            <p th:if="${error}" class="error">Неправильный логин или пароль!</p>
            <p th:if="${msg}" class="error">Вы успешно вышли из системы.</p>
            <form class="form-signin" th:action="@{/login}" method="post">
                <div class="form-group">
                    <div class="input-group custom-input-field">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <label for="inputLogin" class="sr-only">Логин</label>
                        <input type="text" id="inputLogin" class="form-control" placeholder="Логин" name='username' value='' required autofocus>
                    </div>
                </div>
                <div class="form-group " >
                    <div class="input-group custom-input-field">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                        <label for="inputPassword" class="sr-only">Пароль</label>
                        <input type="password" id="inputPassword" class="form-control" placeholder="Пароль" required name='password'>
                    </div>
                </div>
                <button class="btn btn-md btn-primary btn-block" type="submit" name="submit">Вход</button>
                <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
            </form>
            <br>
        </div>
    </div>
</div>

</body>
</html>
