<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
</head>
<body>

<table>
    <tr><td>Name</td>
        <td>First Name</td>
        <td>Second Name</td>
        <td>Position</td>
        <td>Created</td>
        <td>Creator</td>
        <td>Roles</td>
    </tr>
    <tr>
<td th:text="${user.getName()}"></td>
<td th:text="${user.getFirstName()}"></td>
<td th:text="${user.getSecName()}"></td>
<td th:text="${user.getPosition()}"></td>
<td th:text="${user.getCreated()}"></td>
<td th:text="${user.getCreator()}"></td>
<td th:text="${user.getRoles()}"></td>
    </tr>
</table>


<li th:each ="element: ${roles}">

    <p th:text="${element}"></p>


</li>


</body>
</html>