<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Manager</title>
</head>
<body>

<table style="border: solid">
    <td>№ Заказа</td>
    <td>Создан</td>
    <td>Заказчик</td>
    <td>Менеджер</td>
    <td>Цена</td>
    <td>Тип оплаты</td>
    <td>Статус оплаты</td>
    <td>Статус</td>
<tr th:each ="element: ${orders}">
    <td th:text="${element.getNumber()}" style="border: solid"></td>
    <td th:text="${element.getCreated()}" style="border: solid"></td>
    <td th:text="${element.getCustomer()}" style="border: solid"></td>
    <td th:text="${element.getManager()}" style="border: solid"></td>
    <td th:text="${element.getPrice()}" style="border: solid"></td>
    <td th:text="${element.getPaymentType()}" style="border: solid"></td>
    <td th:text="${element.getPayment()}" style="border: solid"></td>
    <td th:text="${element.getStatus()}" style="border: solid"></td>


</tr>
</table>



<p>Коментарии заказа</p>

<table>
    <tr th:each ="element: ${orders.getComments()}">
        <td th:text="${element.getLogin()}" style="border: solid"></td>
        <td th:text="${element.getContent()}" style="border: solid"></td>
    </tr>

</table>



<p>Позиции в заказе</p>
<table>
    <tr th:each ="element: ${orders.getItems()}">
        <td th:text="${element.getName()}" style="border: solid"></td>
        <td th:text="${element.getModel()}" style="border: solid"></td>
        <td th:text="${element.getType()}" style="border: solid"></td>
        <td th:text="${element.getComment()}" style="border: solid"></td>
        <td th:text="${element.getCount()}" style="border: solid"></td>
        <td th:text="${element.getPrice()}" style="border: solid"></td>



    </tr>

</table>

<p>Картинки</p>
<table>
    <tr th:each ="element: ${items.get(0).getImages()}">
        <img th:src="${element.getUrl()}"  />
    </tr>

</table>

<p>Клиент</p>

<table>
    <tr th:each ="element: ${orders.getCustomer()}">
        <td th:text="${element.getFirst_name()}" style="border: solid"></td>
        <td th:text="${element.getSec_name()}" style="border: solid"></td>
        <td th:text="${element.getEmail()}" style="border: solid"></td>
        <td th:text="${element.getPhone()}" style="border: solid"></td>

    </tr>

</table>


<p>Доставка</p>
<table>
    <tr th:each ="element: ${orders.getCustomer().getDeliveries()}">
        <td th:text="${element.getCoutry()}" style="border: solid"></td>
        <td th:text="${element.getCity()}" style="border: solid"></td>
        <td th:text="${element.getAddress()}" style="border: solid"></td>
        <td th:text="${element.getZip()}" style="border: solid"></td>

    </tr>

</table>


</body>
</html>