<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Изменение пароля</title>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous"/>


</head>
<body>
<br>
<br>
<div class="container col-lg-12">
    <div class="col-lg-4">
    </div>
    <div class = "col-lg-4">

    <span id="errorCurrentPass" style="color: darkorange"></span>

    <div class="input-group">
        <input  id="newPass" class="form-control"
               placeholder="Новый пароль" style="margin-top:5px" type="password" required >
    </div>

    <div class="input-group">
        <input  id="replyPass" class="form-control"
               placeholder="Повторите пароль" style="margin-top: 5px" type="password" required >
    </div>

    <div>
    </div>
    <button id="changePassBtn" onclick="newPassword()" class="btn btn-sm  btn-success" style="margin-top: 5px" >
        Изменить пароль
    </button>

    </div>
    <div class="col-lg-4">
    </div>
</div>

<div id="token" th:text="${message}" hidden></div>

<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="/js/newPassword.js"></script>
</body>
</html>