<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">


<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Профиль сотрудника</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" type="text/css" href="/css/commentMaster.css" media="all">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"/>


    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://getbootstrap.com/docs/3.3/examples/dashboard/dashboard.css">
    <link rel="stylesheet" href="/css/dashboard.css">
    <link rel="stylesheet" href="/css/profile.css ">

    <!-- Angular JS -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-animate.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-sanitize.js"></script>
    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.5.0.js"></script>
    <script th:src="@{/js/masterOrderModule.js}"></script>

</head>

<body ng-app="masterOrderForm">
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header"><a class="navbar-brand navbar-link" href="#">CaseMobile</a>
            <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navcol-1">
                	<span class="sr-only">
                		Toggle navigation
                	</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="navcol-1">
            <ul class="nav navbar-nav">
                <th:block th:each="element:  ${#authentication.getAuthorities()}">
                    <ul class="nav navbar-nav" th:each="function : ${element.getFunctions()}">
                        <li role="presentation"><a th:text="${function?.getName()}"
                                                                  th:href="${function.getLink()}"></a></li>
                    </ul>
                </th:block>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#userProfile" data-toggle="modal"><span sec:authentication="principal"></span></a></li>
                <li>
                    <form ng-controller="NotificationController" class="navbar-form navbar-right">
                        <a th:href="@{/director/order/notification/get}" ng-hide="notifications.length == 0" ng-cloak><span class="glyphicon glyphicon-comment" style="font-size: 22px; color: white"></span><span class="badge badge-notify" style="background: #ff6d3c">{{notifications.length}}</span></a>
                    </form>
                </li>
                <li>
                    <a href="/logout">Выход  <span class="glyphicon glyphicon-log-out"></span></a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<br>
<div class="container-fluid" style="margin-top: 10px;">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li><a href="/director/controlpanel/statuses">Статусы</a></li>
                <li><a href="/director/controlpanel/roles">Должности</a></li>
                <li class="active"><a href="/director/controlpanel/user">Сотрудник <span class="sr-only">(current)</span></a></li>
                <li><a href="/director/controlpanel/product">Типы товаров</a></li>
                <li><a href="/director/controlpanel/model">Модели телефонов</a></li>
                <li><a href="/director/controlpanel/payment">Тип оплаты</a></li>
                <li><a href="/director/controlpanel/pickups">Адреса самовывозов</a></li>
            </ul>
        </div>
    </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

            <div class="row" style="margin-top: 1%;">
                <th:block th:if="${success}">
                    <div class="alert alert-success" role="alert">
                        <span th:text="${success}"></span>
                    </div>
                </th:block>

                <th:block th:if="${error}">
                    <div class="alert alert-danger" role="alert">
                        <span th:text="${error}"></span>
                    </div>
                </th:block>
            </div>

            <div class="row" style="margin-top: 1%;">

                <div class="panel panel-default">
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div class="tab-pane active " id="newrole">
                            <!-- Default panel contents -->
                            <div class="col-sm-offset-4 col-sm-10">
                                <div class="panel-heading"><b>Профиль сотрудника</b></div>
                            </div>
                            <form class="form-horizontal" th:object="${user}" th:action="@{/director/controlpanel/user/update}" action="create" method="post">

                                <input class="noneVisible" type="text" name="id" th:value="${user.getId()}" readonly="readonly" hidden="hidden" />

                                <div class="form-group row row-height">
                                    <label for="name" class="control-label col-sm-2">Логин</label>
                                    <div class="col-sm-6">
                                        <input class="form-control" type="text" name="name" th:value="${user.getName()}" pattern="^[A-Za-z]{1,16}$" placeholder="Логин" required />
                                        <div class="notes">В логине сотрудника допускается использовать только латинские буквы. Длина от 1 до 16 символов.</div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="wrong-field" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
                                    </div>
                                </div>
                                <div class="form-group row row-height">
                                    <label for="firstName" class="control-label col-sm-2">Имя</label>
                                    <div class="col-sm-6">
                                        <input class="form-control" type="text" name="firstName" th:value="${user.getFirstName()}" pattern="^[A-Za-zА-ЯЁа-яё]{2,16}$" placeholder="Имя сотрудника" required />
                                        <div class="notes">Имя сотрудника может состоять только из английских и русских букв. Длина имени должна быть не менее 2 символов и не более 16.</div>
                                    </div>
                                    <div class="col-sm-4">
                                        <span class="wrong-field" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></span>
                                    </div>
                                </div>
                                <div class="form-group row row-height">
                                    <label for="secName" class="control-label col-sm-2">Фамилия</label>
                                    <div class="col-sm-6">
                                        <input class="form-control" type="text" name="secName" th:value="${user.getSecName()}" pattern="^[а-яёА-ЯЁa-zA-Z0-9 -]+" maxlength="50" placeholder="Фамилия" />
                                        <div class="notes">Фамилия сотрудника может состоять из английских и русских букв, цифр, пробелов и тире. Максимальная длина 50. Заполнять не обязательно</div>
                                    </div>
                                    <div class="col-sm-4">
                                        <span class="wrong-field" th:if="${#fields.hasErrors('secName')}" th:errors="*{secName}"></span>
                                    </div>
                                </div>
                                <div class="form-group row row-height">
                                    <label for="password" class="control-label col-sm-2">Пароль</label>
                                    <div class="col-sm-6">
                                        <input class="form-control" type="password" name="password"
                                               th:value="${user.getPassword()}" minlength="3" maxlength="20" placeholder="Пароль" required />
                                        <div class="notes">Минимальная длина пароля должна быть не меньше 3 и не больше 20</div>
                                    </div>
                                    <div class="col-sm-4">
                                        <span class="wrong-field" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
                                    </div>
                                </div>
                                <div class="form-group row row-height">
                                    <label for="email" class="control-label col-sm-2">Email</label>
                                    <div class="col-sm-6">
                                        <input class="form-control" type="text" name="email" th:value="${user.getEmail()}" placeholder="Электронная почта пример заполнения: example@example.com" required>
                                        <div class="notes">Электронная почта сотрудника. Обязательно к заполнению.</div>
                                    </div>
                                    <div class="col-sm-4">
                                        <span class="wrong-field" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">email Error</span>
                                    </div>
                                </div>
                                <div class="form-group row row-height">
                                    <label for="phone" class="control-label col-sm-2">Телефон</label>
                                    <div class="col-sm-6">
                                        <input class="form-control" type="text" name="phone" th:value="${user.getPhone()}" pattern="^(\s*)?(\+)?([- _():=+]?\d[- _():=+]?){10,20}(\s*)?$" placeholder="+7(123)4567890" required>
                                        <div class="notes">Телефон сотрудника. Обязательно к заполнению. Пример +7(123)4567890</div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="wrong-field" th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"></div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <fieldset class="center-block" style="width: 95%;">
                                        <legend>Должности</legend>
                                        <div class="panel panel-default">
                                            <div class="panel-body">
                                                <div th:each="role : ${allRoles}">
                                                    <div style="display: inline-block; width: 25%; height: 15px; float: left; margin-bottom: 3%;">
                                                        <input th:field="*{roles}" th:value="${role.id}" type="checkbox">
                                                        <label th:for="${#ids.prev('roles')}" th:text="${role.name}"></label>
                                                    </div>
                                                </div>
                                                <div class="wrong-field" th:if="${#fields.hasErrors('roles')}" th:errors="*{roles}"></div>
                                            </div>
                                        </div>
                                    </fieldset>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-offset-4 col-sm-10">
                                        <input class="btn btn-warning" type="reset" value="Сбросить" />
                                        <a class="btn btn-danger" href="/director/stuff">Закрыть</a>
                                        <input class="btn btn-success" type="submit" value="Сохранить" />
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>


<!-- Профиль модальное окно -->
<div id="userProfile" class="modal  ">
    <div class="modal-dialog">


        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-6">
                    <div class="well well-sm">
                        <div class="row">
                            <div class="col-sm-6 col-md-4 profileContent">
                                <img id="avatarImg" alt=""
                                     class="img-rounded img-responsive centre"
                                     th:src="${#authentication.getPrincipal()?.avatar}"  />
                                <input accept="image/*" type="file" id='avatar' name="avatar"
                                       style="display: none"/>
                                <label for="avatar" >
                                    <span class="btn btn-sm btn-info profileMargin">Выбрать аватар...</span>
                                </label>
                                <label id="avatarBtn" class="btn btn-primary profileMargin" style="display: none;"  >Сохранить</label>
                                <p> <span id = "avatarMessage"></span> </p>
                            </div>
                            <div class="col-sm-6 col-md-8">
                                <h4
                                    th:text="${#authentication.getPrincipal()?.firstName} +' '+ ${#authentication.getPrincipal()?.secName}" >
                                    Name Secname</h4>
                                <small><cite th:text="${#authentication.getPrincipal()?.created}"><i
                                    class="glyphicon glyphicon-time">
                                </i></cite></small>
                                <p>
                                    <i class="glyphicon glyphicon-user"  ></i><span
                                    th:text="${#authentication.getPrincipal().name}"></span>
                                    <br />
                                    <i class="glyphicon glyphicon-envelope"  ></i><span
                                    th:text="${#authentication.getPrincipal()?.email}"></span>
                                    <br />
                                    <i class="glyphicon glyphicon-phone-alt"></i><span
                                    th:text="${#authentication.getPrincipal()?.phone}"></span>
                                    <br />
                                    <th:block th:each="element: ${#authentication.getPrincipal()?.roles}">
                                        <i class="glyphicon glyphicon-briefcase"></i>
                                        <span th:text="${element?.name}"></span>
                                    </th:block>
                                </p>
                                <!-- Split button -->

                                <div class="row col-sm-12">
                                    <div class="col-sm-6 left" >
                                        <a  href="#" id ="changePassword">Изменить пароль</a>
                                    </div>

                                    <div class="btn-group col-sm-6 profileClose">
                                        <button type="button" class="btn btn-primary btn-sm right"
                                                data-dismiss="modal" onclick="hideChangeBtn()">
                                            Закрыть
                                        </button>
                                    </div>

                                </div>


                                <div class = "row col-lg-12">
                                    <span id="errorCurrentPass"></span>

                                    <div class="input-group">
                                        <input id="currentPass" class="form-control" style="display: none;margin-top:
                                                       5px"
                                               placeholder="Текущий пароль"  type="password" required>
                                    </div>

                                    <div class="input-group">
                                        <input id="newPass" class="form-control profileMargin"
                                               placeholder="Новый пароль" style="display: none" type="password" required >
                                    </div>

                                    <div class="input-group">
                                        <input id="replyPass" class="form-control profileMargin"
                                               placeholder="Повторите пароль" style="display: none" type="password" required >
                                    </div>

                                    <button id="changePassBtn" class="btn btn-sm  btn-success profileMargin" style="display: none" > Применить
                                    </button>
                                    <button type="submit" id="cancelPassBtn" class="btn btn-sm  btn-warning profileMargin"
                                            style="display: none" > Отмена</button>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="/js/jquery.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"
        integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
<script src="/js/bootstrap.js"></script>

<script src="https://code.jquery.com/jquery-1.12.4.js"></script>

<script src="/js/profile.js"></script>

</body>
</html>