<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">


<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Статистика по средней сумме заказов</title>
    
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" type="text/css" href="/css/commentMaster.css" media="all">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>

	<link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="/css/dashboard.css">
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />

    <!-- Angular JS -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-animate.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-sanitize.js"></script>
    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.5.0.js"></script>
    <script th:src="@{/js/masterOrderModule.js}"></script>


</head>

<body ng-app="masterOrderForm">
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header"><a class="navbar-brand navbar-link" href="#">CaseMobile</a>
                <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navcol-1">
                	<span class="sr-only">
                		Toggle navigation
                	</span>
                	<span class="icon-bar"></span>
                	<span class="icon-bar"></span>
                	<span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav">
                    <th:block th:each="element:  ${#authentication.getAuthorities()}">
                        <ul class="nav navbar-nav" th:each="function : ${element.getFunctions()}">
                            <li class="active" role="presentation"><a th:text="${function?.getName()}"
                                                                      th:href="${function.getLink()}"></a></li>
                        </ul>
                    </th:block>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#"><span sec:authentication="principal"></span></a></li>
                    <li>
                        <form ng-controller="NotificationController" class="navbar-form navbar-right">
                            <a th:href="@{/order/boss/notification/get}" ng-hide="notifications.length == 0" ng-cloak><span class="glyphicon glyphicon-comment" style="font-size: 22px; color: white"></span><span class="badge badge-notify" style="background: #ff6d3c">{{notifications.length}}</span></a>
                        </form>
                    </li>
					<li>
						<form class="navbar-form navbar-right">
							<a class="btn btn-sm btn-info logout" th:href="@{/logout}">Выход</a>
						</form>
					</li>
				</ul>
            </div>
        </div>
    </nav>

	<br>
    <nav class="navbar navbar-default" role="navigation">

        <div class="container-fluid">

            <!—Название сайта и кнопка раскрытия меню для мобильных-->

            <div class="navbar-header">

                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">

                    <span class="sr-only">Toggle navigation</span>

                    <span class="icon-bar"></span>

                    <span class="icon-bar"></span>

                    <span class="icon-bar"></span>

                </button>

                <a class="navbar-brand" href="#">Отчеты</a>

            </div>



            <!—Само меню-->

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                <ul class="nav navbar-nav">

                    <li class=" active"><a href="/director/statistic/middle/">Среднии показатели</a></li>
                    <li ><a href="/director/statistic/geo/">Гео анализ</a></li>
                    <li ><a href="/director/statistic/newCustomers/">Новые клиенты</a></li>
                    <li ><a href="/director/statistic/sum/">Сумма заказов</a></li>

                </ul>

            </div><!-- /.navbar-collapse -->

        </div><!-- /.container-fluid -->

    </nav>

    </div>


    <div >
    <h2 style="text-align: center">Средняя сумма заказов</h2>
    <!--Календарь-->
    <div id="reportrange" class="pull-right" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc;">
        <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>&nbsp;
        <span></span> <b class="caret"></b>
    </div>

    <div class="container">
        <button type="button" class="btn" onclick="test('%m-%d')">По дням</button>
        <button type="button" class="btn" onclick="test('%%Y-%u')">По неделям</button>
        <button type="button" class="btn" onclick="test('%Y-%m')">По месяцам</button>

        <!--График-->
        <div id="chart_div"></div>
        <!--Конец графика-->

    </div>

    </div>
     <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"
            integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"
            integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>

    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>



    <!--Load the AJAX API-->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>



    <!-- Include Required Prerequisites -->
    <script type="text/javascript" src="//cdn.jsdelivr.net/jquery/1/jquery.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.19.4/locale/ru.js"></script>

    <!-- Include Date Range Picker -->
    <script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>


    <!--<script type="text/javascript">-->
        <!--$(function() {-->
            <!--$('input[name="daterange"]').daterangepicker();-->
        <!--});-->
    <!--</script>-->



    <script src="/js/statisticAvgMx.js"></script>

</body>
</html>