<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">


<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Заказы</title>
    
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" type="text/css" href="/css/commentMaster.css" media="all">
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>

    <!-- Optional theme -->
    <link rel="stylesheet" href="/css/bootstrap.css"/>

    <!-- Angular JS -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-animate.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-sanitize.js"></script>
    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.5.0.js"></script>
    <script th:src="@{/js/masterOrderModule.js}"></script>
	<link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="/css/dashboard.css">


</head>

<body ng-app="masterOrderForm">
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header"><a class="navbar-brand navbar-link" href="#">CaseMobile</a>
                <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navcol-1">
                	<span class="sr-only">
                		Toggle navigation
                	</span>
                	<span class="icon-bar"></span>
                	<span class="icon-bar"></span>
                	<span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav">
                    <th:block th:each="element:  ${#authentication.getAuthorities()}">
                        <ul class="nav navbar-nav" th:each="function : ${element.getFunctions()}">
                            <li class="active" role="presentation"><a th:text="${function?.getName()}"
                                                                      th:href="${function.getLink()}"></a></li>
                        </ul>
                    </th:block>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#"><span sec:authentication="principal"></span></a></li>
                    <li>
                        <form ng-controller="NotificationController" class="navbar-form navbar-right">
                            <a th:href="@{/order/director/notification/get}" ng-hide="notifications.length == 0" ng-cloak><span class="glyphicon glyphicon-comment" style="font-size: 22px; color: white"></span><span class="badge badge-notify" style="background: #ff6d3c">{{notifications.length}}</span></a>
                        </form>
                    </li>
					<li>
						<form class="navbar-form navbar-right">
							<a class="btn btn-sm btn-info logout" th:href="@{/logout}">Выход</a>
						</form>
					</li>
				</ul>
            </div>
        </div>
    </nav>

	<br>

    <div class="container">

            <div style="text-align: right">
                <a class="btn btn-info btn-new-object" type="button" th:href="@{/manager/order/add}" title="Создать новый заказ">Новый заказ</a>
            </div>
        <br>

        <div style="text-align: right;" >
            <form method="get" action="/director/">
                <input  id="minPrice" name="minPrice" type="number" placeholder="Сумма заказа от" th:value="${min}">
                <input  id="maxPrice" name="maxPrice" type="number" placeholder="до" th:value="${max}">
                <button type="submit">Показать</button>
            </form>
        </div>
        <br>

        <div class="table-responsive">
            <table id="myTable" class="display table table-bordered data" cellspacing="0">
                <thead>
                    <tr>
                        <th>№ Заказа</th>
                        <th>Сумма заказа</th>
                        <th>Дата создания</th>
                        <th>Клиент</th>
                        <th>Менеджер</th>
                        <th>Дизайнер</th>
                        <th>Мастер</th>
                        <th>Способ оплаты</th>
                        <th>Статус оплаты</th>
                        <th>Статус заказа</th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>


					<tr th:each ="element: ${orders}">
						<td th:text="${element.getNumber()}"></td>
                        <td th:text="${element.getPrice()} + ' руб.'"></td>
						<td th:text="${element.getCreated()}"></td>
						<td th:text="${element.getCustomer()}"></td>
						<td th:text="${element.getManager()}"></td>
						<td	th:text="${element.getDesigner() == null? 'Не назначен' : element.getDesigner()}"></td>
						<td th:text="${element.getMaster() == null? 'Не назначен' : element.getMaster()}"></td>
						<td th:text="${element.getPaymentType()}"></td>
						<td th:text="${element.getPaymentString()}"></td>
						<td th:text="${element.getStatus()}"></td>
						<td align="center">
							<a th:href="'/manager/order/update/' +${element.id}" class="btn btn-info btn-xs">
								Открыть
							</a>
						</td>
                        <td th:text="${element.getPayment()}"></td>
                        <td th:text="${element.getStatus().getNumber()}"></td>
					</tr>
                </tbody>
            </table>
        </div>
    </div>
    

     <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"
            integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"
            integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>

    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>

    <script>
        function settingUpTable() {
            $('#myTable').dataTable({

                "columnDefs": [
                    {
                        "targets": [ 2,1 ],
                        "searchable": false
                    },

                    {
                        "targets": [ 11, 12 ],
                        "visible": false,
                        "searchable": false
                    }
                ],

                "createdRow": function( row, data, dataIndex ) {
                    if ( data["11"] == "true" ) {
                        $( row ).addClass( "success" );
                    }
                    if ( data["12"] == "3" ) {
                        $( row ).addClass( "warning" );
                    }
                    if ( data["12"] == "1" ) {
                        $( row ).addClass( "info" );
                    }
                },


                "oLanguage": {
                    "sLengthMenu": "Показать _MENU_ записей на странице",
                    "sZeroRecords": "Извините - ничего не найдено",
                    "sInfo": "Показано _START_ до _END_ из _TOTAL_ записей",
                    "sInfoEmpty": "Нет записей",
                    "sInfoFiltered": "(из _MAX_ записей)",
                    "sSearch": "Поиск:",
                    "oPaginate": {
                        "sNext": "След. стр.",
                        "sPrevious": "Пред. стр."
                    }
                }
            });
        }

        $(document).ready(function () {
            settingUpTable();
        });
    </script>

</body>
</html>