<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">


<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title th:text="'Таблица заказов: '+ ${#authentication.name}">Таблица заказов</title>
    
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" type="text/css" href="/css/commentMaster.css" media="all">
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>

    <!-- Optional theme -->
    <link rel="stylesheet" href="/css/bootstrap.css"/>

    <!-- Angular JS -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-animate.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-sanitize.js"></script>
    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.5.0.js"></script>
    <script th:src="@{/js/masterOrderModule.js}"></script>
	<link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">

    <link rel="stylesheet" href="/css/dashboard.css">
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />


</head>

<body ng-app="masterOrderForm">
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header"><a class="navbar-brand navbar-link" href="#">CaseMobile</a>
                <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navcol-1">
                	<span class="sr-only">
                		Toggle navigation
                	</span>
                	<span class="icon-bar"></span>
                	<span class="icon-bar"></span>
                	<span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav">
                    <th:block th:each="element:  ${#authentication.getAuthorities()}">
                        <ul class="nav navbar-nav" th:each="function : ${element.getFunctions()}">
                            <li class="active" role="presentation"><a th:text="${function?.getName()}"
                                                                      th:href="${function.getLink()}"></a></li>
                        </ul>
                    </th:block>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#"><span sec:authentication="principal"></span></a></li>
                    <li>
                        <form ng-controller="NotificationController" class="navbar-form navbar-right">
                            <a onclick="notification()" ng-hide="notifications.length == 0" ng-cloak><span class="glyphicon glyphicon-comment" style="font-size: 22px; color: white"></span><span class="badge badge-notify" style="background: #ff6d3c">{{notifications.length}}</span></a>
                        </form>
                    </li>
					<li>
						<form class="navbar-form navbar-right">
							<a class="btn btn-sm btn-info logout" th:href="@{/logout}">Выход</a>
						</form>
					</li>
				</ul>
            </div>
        </div>
    </nav>

	<br>

    <div class="container">

            <div style="text-align: right">
                <a class="btn btn-info btn-new-object" type="button" th:href="@{/manager/order/add}" title="Создать новый заказ">Новый заказ</a>
            </div>
        <br>

        <div class="row">

            <div class="col-lg-4 ">
                <div class="col-lg-6 " style="padding-left: 0px; margin-left: 0px">
                    <input class="form-control" id="minPrice" name="minPrice" type="number" placeholder="Сумма заказа от" onkeyup="filterSearch()">
                </div>
                <div class="col-lg-6 " style="margin-right: 0px; padding-right: 0px">
                    <input class="form-control" id="maxPrice" name="maxPrice" type="number" placeholder="до" onkeyup="filterSearch()">
                </div>

            </div>
            <div class="col-lg-4 ">
            </div>
            <div class="col-lg-4" style="text-align: right">
                <input  id="search" name="search"
                        placeholder="Найти по номеру, клиенту, оплате, менеджеру, мастеру, дизайнеру"
                        class="form-control"
                        onkeyup="filterSearch()" >
            </div>

        </div>

        <div class="row" style="margin-top: 10px">
            <div class="col-lg-5">
                <div class="col-lg-6" style="padding-left: 0px; margin-left: 0px">
                    <select id="sortingBy" class="form-control" onchange="filterSearch()">
                        <option value="number">Сортирова по номеру</option>
                        <option value="customerSecNameString">Сортирова по клиенту</option>
                        <option value="price">Сортирова по цене</option>
                        <option value="status">Сортирова по статусу</option>
                    </select>
                </div>

                <div class="col-lg-4" style="padding-left: 0px; margin-left: 0px">
                    <select id="orderBy" class="form-control" onchange="filterSearch()" style="padding-left: 0px; margin-left: 0px">
                        <option value="DESC">по убыванию</option>
                        <option value="ASC">по возрастанию</option>
                    </select>
                </div>

                <div class="col-lg-2" style=" padding-left: 0px; margin-left: 0px">
                    <select id="pageSize" class="form-control" onchange="filterSearch()">
                        <option value="25">25</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                    </select>
                </div>
            </div>


            <div class="col-lg-7">
                <!--Календарь-->
                <div id="reportrange" class="pull-right" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc;">
                    <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>&nbsp;
                    <span></span> <b class="caret"></b>
                </div>
            </div>

        </div>



        <div class="table-responsive" th:fragment="tableOrders" style="margin-top: 10px">

            <table id="sortingTable" class="display table table-bordered data" cellspacing="0">
                <thead>
                    <tr>
                        <th>№ Заказа</th>
                        <th>Сумма заказа</th>
                        <th>Дата создания</th>
                        <th>Клиент</th>
                        <th>Менеджер</th>
                        <th>Дизайнер</th>
                        <th>Мастер</th>
                        <th>Способ оплаты</th>
                        <th>Статус оплаты</th>
                        <th>Статус заказа</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>


					<tr th:each ="element: ${orderList}"
                        th:styleappend="'background-color:' + ${element.getStatus().getColor()} +';'">
						<td th:text="${element.getNumber()}"></td>
                        <td th:text="${element.getPrice()} + ' руб.'"></td>
						<td th:text="${element.getCreated()}"></td>
						<td th:text="${element.getCustomer()}"></td>
						<td th:text="${element.getManager()}"></td>
						<td	th:text="${element.getDesigner() == null? 'Не назначен' : element.getDesigner()}"></td>
						<td th:text="${element.getMaster() == null? 'Не назначен' : element.getMaster()}"></td>
						<td th:text="${element.getPaymentType()}"></td>
						<td th:text="${element.getPaymentString()}"></td>
						<td th:text="${element.getStatus()}"></td>
						<td align="center">
							<a th:href="'/manager/order/update/' +${element.id}" class="btn btn-info btn-xs">
								Открыть
							</a>
						</td>
					</tr>

                    <tr>
                        <td colspan="11" align="centre">
                            <th:block th:if="${page != null}" >
                                <div class="row" >
                                    <div class="text-center">
                                        <div class='pagination pagination-centered'>
                                            <ul class="pagination">
                                                <li th:class="${currentIndex == 1}? 'disabled' : ''">
                                                    <span th:if='${currentIndex == 1}'>First</span>
                                                    <a th:if='${currentIndex != 1}'

                                                       th:onclick="'filterSearch('+${1}+')' "
                                                    >First</a>
                                                </li>
                                                <li th:class="${currentIndex != 1}? '' : 'disabled'">
                                                    <span th:if='${currentIndex == 1}'>«</span>
                                                    <a th:if='${currentIndex != 1}'  th:onclick="'filterSearch('+${currentIndex - 1}+')' "
                                                       title='Go to previous page'>«</a>
                                                </li>

                                                <li th:if="${beginIndex != null}" th:each="item : ${#numbers.sequence(beginIndex,endIndex)}"
                                                    th:class="${item == currentIndex ? 'active' : '' }">
                                                    <span th:if='${item == currentIndex}' th:text='${item}'>1</span>
                                                    <a th:if='${item != currentIndex}'
                                                       th:onclick="'filterSearch('+${item}+')' ">
                                                        <span th:text='${item}'>1</span>
                                                    </a>
                                                </li>

                                                <li th:class="${currentIndex != totalPageCount}? '' : 'disabled'">
                                                    <span th:if='${currentIndex == totalPageCount}'>»</span>
                                                    <a th:if='${currentIndex != totalPageCount}'
                                                       th:onclick="'filterSearch('+${currentIndex+1}+')' "
                                                       title='Go to next page'>»</a>
                                                </li>
                                                <li th:class="${currentIndex == totalPageCount}? 'disabled' : ''">
                                                    <span th:if='${currentIndex == totalPageCount}'>Last</span>
                                                    <a th:if='${currentIndex != totalPageCount}'

                                                       th:onclick="'filterSearch('+${totalPageCount}+')' "
                                                    >Last</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </th:block>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
    

     <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"
            integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"
            integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>

    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>

    <script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.19.4/locale/ru.js"></script>


    <script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>

    <script src="/js/searchFilter.js"></script>






</body>
</html>