<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="icon" href="/images/OldManFavicon.png">
    <title>Форма товара</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" crossorigin="anonymous"/>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" crossorigin="anonymous"/>

    <link href="/css/ekko-lightbox.css" rel="stylesheet">
    <link href="/css/managerItemForm.css" rel="stylesheet" />
    <link rel="stylesheet" th:href="@{/css/commentMaster.css}" href="/css/commentMaster">

    <!-- Angular JS -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-animate.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-sanitize.js"></script>
    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.5.0.js"></script>
    <script th:src="@{/js/masterOrderModule.js}"></script>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

</head>

<body ng-app="masterOrderForm">
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand navbar-link" href="#">CaseMobile</a>
        </div>
        <div class="collapse navbar-collapse" >
            <ul class="nav navbar-nav">
                <th:block th:each="element:  ${#authentication.getAuthorities()}">
                    <ul class="nav navbar-nav" th:each="function : ${element.getFunctions()}">
                        <li class="active" role="presentation"><a th:text="${function?.getName()}"
                                                                  th:href="${function.getLink()}"></a></li>
                    </ul>
                </th:block>
                <li><h4 class="order-title" th:text="${'Заказ № ' + order.getId() + ' от ' + order.getCreated()}"></h4></li>
                <li><h4 class="order-title" th:text="${'Статус заказа: ' + order?.getStatus().toString()}"></h4></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#"><span sec:authentication="principal"></span></a></li>
                <li>
                    <form ng-controller="NotificationController" class="navbar-form navbar-right">
                        <a th:href="@{/order/manager/notification/get}" ng-hide="notifications.length == 0" ng-cloak><span class="glyphicon glyphicon-comment" style="font-size: 22px; color: white"></span><span class="badge badge-notify" style="background: #ff6d3c">{{notifications.length}}</span></a>
                    </form>
                </li>
                <li><a th:href="@{/logout}">Выход  <span class="glyphicon glyphicon-log-out"></span></a></li>
            </ul>
        </div>
    </div>
</nav>

<br>
<div class="container">
    <div class="row">
        <div style="text-align: center">
            <h4 th:text="${'Заказ № ' + order.getId() + ' от ' + order.getCreated()} +' ' + ${'Статус заказа: ' + order?.getStatus().toString()}"></h4>
        </div>
        <br>
        <form class="form-horizontal" enctype="multipart/form-data" th:object="${item}" th:action="${'/manager/item/save/'+order.getId()}" method="post">
            <div class="col-lg-6" >
                <div class="form-group">
                    <input type="hidden" th:field="*{id}"/>
                    <div class="input-group">
                        <span class="input-group-addon">Тип продукта:</span>
                        <input type="text" class="form-control" th:field="*{name}" required>
                    </div>
                </div>
                <div class="form-group" >
                    <div class="input-group" style="width: 100%">
                        <span class="input-group-addon">Материал:</span>
                        <input type="text" class="form-control" th:field="*{type}" required>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon">Модель телефона:</span>
                        <input type="text" class="form-control" th:field="*{model}" required>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group" >
                        <span class="input-group-addon" >Количество:</span>
                        <input class="form-control" th:field="*{count}" required
                               id="numberItemField" onchange="amountItem()" type="number" value="1" min="1" step="1">
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon">Цена за ед. (руб.):</span>
                        <input class="form-control" th:field="*{price}" id="priceItemField" onchange="amountItem()" type="number"
                               required value="0" min="0" step="0.01">
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon">Сумма (руб.):</span>
                        <input class="form-control" th:field="*{amount}" required id="amountItemField" readonly>
                    </div>
                </div>
                <div class="form-group">
                    <h4 align="left">Комментарий к позиции заказа</h4>
                    <textarea class="form-control" rows="3" th:field="*{comment}"></textarea>
                </div>
            </div> <!-- end col-lg-6 -->

            <div class="col-lg-6">
                <th:block th:if="${item?.getImages()}">
                    <div>
                        <h4>Изображения от дизайнера:</h4>
                        <ul class="show-image" th:each="image: ${item?.getImages()}">
                            <a th:href="${image.getImage()}" data-toggle="lightbox" data-gallery="mygallery">
                                <img th:src="${image?.getImage()}" height="75">
                            </a>
                            <a class="btn btn-primary btn-xs btn-download" th:href="${'/manager/downloadOneFile/'+order.getId()+'/'+item.getId()+'/'+image.getId()}"
                               title="Загрузить один файл">
                                <span class="glyphicon glyphicon-download"></span>
                            </a>
                        </ul>
                    </div>
                    <a class="btn btn-info btn-xs" th:href="${'/manager/downloadAllImages/'+order.getId()+'/'+item.getId()}" title="Загрузить все файлы">Загрузить всё</a>
                    <hr>
                </th:block>

                <th:block th:if="${item?.getFiles()}">
                    <div>
                        <h4>Изображения от пользователя:</h4>
                        <ul class="show-image" th:each="file: ${item?.getFiles()}">
                            <br>
                            <a th:href="${file?.getImage()}" data-toggle="lightbox" data-gallery="mygallery">
                                <img th:src="${file?.getImage()}" height="75">
                            </a>
                            <a class="btn btn-danger btn-xs btn-delete" th:href="${'/manager/order/item/deleteFile/'+order.getId()+'/'+item.getId()+'/'+file.getId()}"
                               title="Удалить изображение">
                                <span class="glyphicon glyphicon-remove"></span>
                            </a>
                            <a class="btn btn-primary btn-xs btn-download" th:href="${'/manager/downloadOneFile/'+order.getId()+'/'+item.getId()+'/'+file.getId()}"
                               title="Загрузить один файл">
                                <span class="glyphicon glyphicon-download"></span>
                            </a>
                        </ul>
                    </div>
                    <a class="btn btn-info btn-xs" th:href="${'/manager/downloadAllFiles/'+order.getId()+'/'+item.getId()}" title="Загрузить все файлы">Загрузить всё</a>
                    <hr>
                </th:block>
                <h4>Добавить файлы</h4>
                <input type="file" id='fileMulti' name="uploadCustomerFiles" multiple="multiple" style="display: none"/>
                <label for="fileMulti" class="btn btn-default btn-xs">
                    <span>Обзор...</span>
                </label>
                <br/>
                <span id="outputMulti"></span>
            </div>  <!--end col-lg-6-->
            <div class="col-lg-12">
                <hr>
                <div class="form-group" align="center">
                    <a class="btn btn-default" th:href="${'/manager/order/update/' + order.getId()}">Отмена</a>
                    <button type="submit" class="btn btn-primary" id="saveItemBtn">Сохранить</button>
                </div>
            </div>
        </form> <!-- end form -->
   </div>
</div> <!-- end container -->

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" crossorigin="anonymous"></script>

<!--Предпросмотр файлов загрузки-->
<script src="/js/previewUploadCustomerFile.js"></script>

<!--Рассчёт суммы позиции-->
<script src="/js/mxItemManager.js"></script>

<!--Просмотр загруженных изображений-->
<script src="/js/ekko-lightbox.js"></script>
<script>
    $(document).on('click', '[data-toggle="lightbox"]', function(event) {
        event.preventDefault();
        $(this).ekkoLightbox();
    });
</script>

</body>
</html>