<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title> New Item</title>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous"/>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" rel="stylesheet" crossorigin="anonymous"/>

    <link href="/css/styleManagerNewOrder.css" rel="stylesheet" />
</head>

<body th:object="${order}">
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header"><a class="navbar-brand navbar-link" th:href="@{/manager}">CaseMobile</a>
                <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navcol-1">
                	<span class="sr-only">Toggle navigation</span>
                	<span class="icon-bar"></span>
                	<span class="icon-bar"></span>
                	<span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" >
                <div class="col-lg-4">
                    <ul class="nav navbar-nav">
                        <li class="active" role="presentation"><a th:href="@{/manager}">Заказы</a></li>
                    </ul>
                </div>
                <div class="col-lg-4">
                    <h4 style="color: white" align="left">Новый заказ</h4>
                </div>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#" th:text="${authUser}"></a></li>
                    <li><a th:href="@{/logout}">Выход  <span class="glyphicon glyphicon-log-out"></span></a></li>
				</ul>
            </div>
        </div>
    </nav>

    <br>
    <div class="container">
        <div class="row">
            <div class="col-lg-12" >
                <form class="form-horizontal" enctype="multipart/form-data" th:object="${item}" th:action="@{/manager/item/saveNewOrder}" method="post">
                    <div class="col-lg-6">
                        <input type="hidden" th:field="*{id}"/>
                        <div class="form-group">
                            <div class="input-group" style="width: 100%">
                                <span class="input-group-addon" style="width: 150px; text-align: left;">Тип продукта:</span>
                                <input type="text" class="form-control" th:field="*{name}" required="required">
                            </div>
                        </div>
                        <div class="form-group" >
                            <div class="input-group" style="width: 100%">
                                <span class="input-group-addon" style="width: 150px; text-align: left;">Материал:</span>
                                <input type="text" class="form-control" style="width: 100%;" th:field="*{type}"
                                       required="required">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group" style="width: 100%">
                                <span class="input-group-addon" style="width: 150px; text-align: left;">Модель телефона:</span>
                                <input type="text" class="form-control" style="width: 100%;" th:field="*{model}"
                                       required="required">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group" style="width: 100%">
                                <span class="input-group-addon" style="width: 150px; text-align: left;">Количество:</span>
                                <input class="form-control"  style="width: 100%;" type="number" th:field="*{count}"
                                       id="numberItemField" onchange="amountItem()" required="required" value="1" min="1" step="1">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group" style="width: 100%">
                                <span class="input-group-addon" style="width: 150px; text-align: left;">Цена за ед. (руб.):</span>
                                <input class="form-control"  style="width: 100%;"
                                       th:field="*{price}" type="number"  id="priceItemField" onchange="amountItem()"
                                       required="required" value="0" min="0" step="0.01">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group" style="width: 100%">
                                <span class="input-group-addon" style="width: 150px; text-align: left;">Сумма (руб.):</span>
                                <input class="form-control"  style="width: 100%;"
                                       th:field="*{amount}" type="number" id="amountItemField"  readonly>
                            </div>
                        </div>
                        <div class="form-group">
                            <h4 align="left">Комментарий к позиции заказа</h4>
                            <textarea style="resize: none; width: 100%" class="form-control" rows="3" th:field="*{comment}"></textarea>
                        </div>
                    </div> <!-- end col-lg-6 -->
                    <div class="col-lg-6">
                        <h4>Загрузка файлов</h4>
                        <input type="file" id='fileMulti' name="uploadCustomerFiles" multiple="multiple" style="display: none"/>
                        <label for="fileMulti" class="btn btn-default">
                            <span>Обзор...</span>
                        </label>
                        <br/>
                        <span id="outputMulti"></span>
                    </div> <!-- end col-lg-6 -->

                    <div class="col-lg-12" align="right">
                        <hr/>
                        <button type="reset" class="btn btn-success" id="resetItemBtn">Сбросить</button>
                        <a class="btn btn-default" th:href="@{/manager}">Отмена</a>
                        <button type="submit" class="btn btn-primary" disabled id="saveItemBtn">Сохранить</button>
                    </div>
                </form> <!-- end form -->
            </div> <!-- end col-lg-12 -->
        </div>
    </div> <!-- end container -->




    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" crossorigin="anonymous"></script>

    <!--Предпросмотр файлов загрузки-->
    <script src="/js/previewUploadCustomerFile.js"></script>

    <!--Рассчёт суммы позиции-->
    <script src="/js/mxItemManager.js"></script>

</body>
</html>