<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="icon" href="/images/OldManFavicon.png">

    <title>Order</title>

    <!--Стили для комментариев-->
    <link rel="stylesheet" type="text/css" href="/css/commentMaster.css" media="all">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/mxComment.css"/>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" crossorigin="anonymous"/>

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"/>

    <!-- Setup local bootstrap3 -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.16/cr-1.4.1/kt-2.3.2/r-2.2.0/rg-1.0.2/rr-1.2.3/sl-1.2.3/datatables.min.css"/>
    <link rel="stylesheet" href="/css/managerOrderForm.css"/>
    <link rel="stylesheet" href="/css/manager.css"/>

    <!-- Angular JS -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-animate.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-sanitize.js"></script>
    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.5.0.js"></script>
    <script th:src="@{/js/masterOrderModule.js}"></script>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

</head>

<body data-spy="scroll" data-target="#formItemTable" ng-app="masterOrderForm">
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand navbar-link" th:href="@{/manager}">CaseMobile</a>
        </div>
        <div class="collapse navbar-collapse" >
            <ul class="nav navbar-nav">
                <th:block th:each="element:  ${#authentication.getAuthorities()}">
                    <ul class="nav navbar-nav" th:each="function : ${element.getFunctions()}">
                        <li class="active" role="presentation"><a th:text="${function?.getName()}"
                                                                  th:href="${function.getLink()}"></a></li>
                    </ul>
                </th:block>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#"><span sec:authentication="principal"></span></a></li>
                <li>
                    <form ng-controller="NotificationController" class="navbar-form navbar-right">
                        <a th:href="@{/order/manager/notification/get}" ng-hide="notifications.length == 0" ng-cloak><span class="glyphicon glyphicon-comment" style="font-size: 22px; color: white"></span><span class="badge badge-notify" style="background: #ff6d3c">{{notifications.length}}</span></a>
                    </form>
                </li>
                <li>
                    <a th:href="@{/logout}">Выход  <span class="glyphicon glyphicon-log-out"></span></a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<br>
<div class="container">
    <div style="text-align: center">
        <h4
            th:text="${'Заказ № ' + order.getId() + ' от ' + order.getCreated()} +' ' + ${'Статус заказа: ' + order?.getStatus().toString()}"></h4>
    </div>
    <div class="row">
        <div class="col-lg-9">
            <div class="form-horizontal">
                <fieldset>
                    <ul class="nav nav-tabs nav-justified" id="myTab2">
                        <li class="active"><a href="#tabItem" data-toggle="tab" aria-expanded="true">Заказ</a></li>
                        <li class=""><a href="#tabComments" data-toggle="tab" aria-expanded="false">Комментарии</a></li>
                        <li class=""><a href="#tabHistory" data-toggle="tab" aria-expanded="false">История</a></li>
                    </ul>
                    <!-- ЗАКАЗ -->
                    <div class="tab-content">

                        <div class="tab-pane active " id="tabItem" role="tabpanel">
                            <br>

                            <div class="container-fluid  col-lg-12" style="margin-bottom: 5px">

                                    <div class="col-lg-4">
                                       <div class="input-group">
                                            <span class="input-group-addon customerField"
                                                 th:if="${order?.getDesigner()?.toString()}"   th:text="'Дизайнер: ' + ${order?.getDesigner()?.toString()}"
                                                  style="width: 100%; text-align: center"></span>
                                            <span class="input-group-addon customerField"
                                                  th:if="${order?.getDesigner()?.toString() == null}"
                                                   style="width: 100%; text-align: center">Дизайнер: --</span>
                                             <a href="#designerModal" class="form-control btn-info" data-toggle="modal">...</a>
                                        </div>
                                    </div>

                                     <div class="col-lg-4" sec:authorize="hasAuthority('BOSS')">
                                         <div class="input-group ">
                                              <span class="input-group-addon customerField"
                                              th:if="${order?.getManager()?.toString()}"
                                                    th:text="'Менеджер: ' + ${order?.getManager()?.toString()}"
                                              style="width: 100%; text-align: center; font: bold"></span>

                                              <span class="input-group-addon customerField"
                                              th:if="${order?.getManager()?.toString() == null}"
                                              style="width: 100%; text-align: center">Менеджер: --</span>

                                              <a href="#managerModal" class="form-control btn-info"
                                                 data-toggle="modal">...</a>
                                    </div>
                                </div>
                                    <div class="col-lg-4">
                                    <div class="input-group ">
                                              <span class="input-group-addon customerField"
                                                    th:if="${order?.getMaster()?.toString()}"  th:text="'Мастер: ' + ${order?.getMaster()?.toString()}"
                                                    style="width: 100%; text-align: center; font: bold"></span>
                                        <span class="input-group-addon customerField"
                                              th:if="${order?.getMaster()?.toString() == null}"
                                              style="width: 100%; text-align: center">Мастер: --</span>

                                        <a href="#masterModal" class="form-control btn-info" data-toggle="modal">...</a>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div  id="formItemTable"  >
                            <table class="table table-bordered data" text-align="center" >
                                <thead>
                                <tr>
                                    <th class="table-head">№</th>
                                    <th class="table-head">Продукт</th>
                                    <th class="table-head">Материал</th>
                                    <th class="table-head">Модель</th>
                                    <th class="table-head">Количество</th>
                                    <th class="table-head">Цена за шт.(руб.)</th>
                                    <th class="table-head">Сумма(руб.)</th>
                                    <th colspan="2" class="table-head">Действия</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="item, stat : ${order.getItems()}">
                                    <td class="table-body" th:text="${stat.count}">001</td>
                                    <td class="table-body" th:text="${item.getName()}">Чехол</td>
                                    <td class="table-body" th:text="${item.getType()}">Деревянный</td>
                                    <td class="table-body" th:text="${item.getModel()}">Samsung</td>
                                    <td class="table-body" th:text="${item.getCount()}">1</td>
                                    <td class="table-body" th:text="${item.getPrice()}">100</td>
                                    <td class="table-body" th:text="${item.getAmount()}">100</td>
                                    <td align="center">
                                        <a class="btn btn btn-info btn-xs"
                                           th:href="${'/manager/item/update/'+ order.getId()+'/'+item.getId()}"
                                           title="Редактировать данную позицию"><span class="glyphicon glyphicon-pencil"></span></a>
                                    </td>
                                    <td align="center">
                                        <a class="btn btn-danger btn-xs"
                                           th:href="${'/manager/item/delete/'+order.getId()+'/' + item.getId()}"
                                           title="Удалить данную позицию"><span class="glyphicon glyphicon-remove"></span></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="6" align="left"><strong>Стоимость заказа:</strong></td>
                                    <td colspan="3" align="center" th:text="${order?.price} + ' рублей'"
                                        style="text-align: center; font-weight: 700;">
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                                <div class="row">
                                    <!--<div class="col-sm-9"></div>-->
                                    <div class="col-sm-3 col-sm-offset-9" align="Right">
                                        <a class="btn btn-success" title="Добавить позицию к заказу"
                                           th:href="${'/manager/order/addItem/'+order.getId()}">Новая позиция</a>
                                    </div>
                                </div>
                            </div>
                       </div>
                        <!-- Комментарии -->
                        <div class="tab-pane" id="tabComments" role="tabpanel"  >
                                <div class="row" style="background-color: grey;border: solid;border-color:grey; border-radius: 5px" >
                                    <div class="comments-container" >
                                        <ul id="comments-list" class="comments-list"
                                            th:each="element: ${order?.getComments()}" th:fragment="commentsFragment" >
                                            <li>
                                                <div class="comment-main-level">
                                                    <div class="comment-avatar"> <img class="img-responsive user-photo" src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png"></div>

                                                    <div class="comment-box">
                                                        <div class="comment-head">
                                                            <h6 class="comment-name by-author" th:text="${element.getCreatedBy()}"></h6>
                                                            <a class="receiver" th:text="${element.getSentTo()}" style="background: steelblue"></a>
                                                            <span th:text="${element.getTime()}"></span>
                                                            <span style="display: inline-block; margin-left: 5px" th:if="${#authentication.principal.name == element.getCreatedBy().getName()}"><a href="#" class="glyphicon glyphicon-trash"></a></span>
                                                            <span style="display: inline-block; margin-left: 5px" th:if="${#authentication.principal.name == element.getCreatedBy().getName()}"><a href="#" class="glyphicon glyphicon-edit"></a></span>
                                                            <i class="fa fa-reply" th:onclick="'showHide(\'' + ${element} + '\');'" th:id="${element}+'Btn'">Ответить</i>
                                                        </div>
                                                        <div class="comment-content" th:utext="${element.getContent()}">

                                                        </div>

                                                        <div th:id="${element}" style="display: none; " class="container-fluid">
                                                            <form th:action="'/order/comment/add='+${order.getId()}" method="post" th:id="${element}+'Frm'">
                                                            <textarea class="form-control " th:id="${element}+'Text'" name="commentText"></textarea>
                                                                <input type="hidden" name="sendTo" th:value="${element.getCreatedBy()}"/>
                                                                <div style="text-align: right; margin-top: 5px">
                                                                    <button class="btn btn-info btn-sm" type="submit" name="commentBtnOrder" th:value="${element.getId()}">Отправить</button>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                                <ul class="comments-list reply-list" th:each="element2: ${element.getAnswers()}">
                                                    <li>
                                                        <div class="comment-avatar"> <img class="img-responsive user-photo" src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png"></div>
                                                        <div class="comment-box">
                                                            <div class="comment-head">
                                                                <h6 class="comment-name" th:text="${element2.getCreatedBy()}"></h6>
                                                                <span th:text="${element2.getTime()} "></span>
                                                                <span style="display: inline-block; margin-left: 5px" th:if="${#authentication.principal.name == element2.getCreatedBy().getName()}"><a href="#" class="glyphicon glyphicon-trash"></a></span>
                                                                <span style="display: inline-block; margin-left: 5px" th:if="${#authentication.principal.name == element2.getCreatedBy().getName()}"><a href="#" class="glyphicon glyphicon-edit"></a></span>
                                                            </div>
                                                            <div class="comment-content" th:utext="${element2.getContent()}"></div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                    <!-- write comment -->
                                    <div class="panel-footer" ng-controller="MasterOrderController">
                                        <form th:action="'/order/comment/add='+${order?.getId()}" method="post">
                                            <input name="recipient" type="text" ng-model="asyncSelected" placeholder="Кому" uib-typeahead="address for address in getUsers($viewValue)" typeahead-loading="loadingLocations" typeahead-no-results="noResults" class="form-control">
                                            <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
                                            <div ng-show="noResults">
                                                <i class="glyphicon glyphicon-remove"></i> No Results Found
                                            </div>
                                            <textarea onfocus="toggleArea1()" class="form-control" name="commentText" placeholder="Напишите сообщение..." id="e_content" style="margin-top: 5px"></textarea>
                                            <button class="btn btn-info btn-sm" type="submit" id="btn-chat"
                                                    style="text-align: right; margin-top: 5px">Написать комментарий
                                            </button>
                                        </form>
                                    </div>
                                    <!-- end of windows-->
                                </div>
                            <!-- Конец комментариев -->
                        <!-- ИСТОРИЯ ЗАКАЗА -->
                        <div class="tab-pane" id="tabHistory" role="tabpanel">
                            <br>
                            <table class="table table-bordered data" text-align="center">
                                <thead>
                                <tr>
                                    <th class="table-head">№ Заказа</th>
                                    <th class="table-head">Дата получения</th>
                                    <th class="table-head">Дата отправки</th>
                                    <th class="table-head">Статус</th>
                                    <th class="table-head">Отправитель</th>
                                    <th class="table-head">Получатель</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="history : ${order.getHistories()}">
                                    <td class="table-body" th:text="${history.getId()}"></td>
                                    <td class="table-body" th:text="${history.getDateRecievedString()}"></td>
                                    <td class="table-body" th:text="${history.getDateTransferredString()}"></td>
                                    <td class="table-body" th:text="${history.getStatus()}"></td>
                                    <td class="table-body" th:text="${history.getFrom()}"></td>
                                    <td class="table-body" th:text="${history.getTo()}"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                </fieldset>
            </div>
        </div> <!-- col-lg-9 -->


        <!-- ИНФОРМАЦИЯ О КЛИЕНТЕ -->
        <div class="col-lg-3">
            <div class="form-horizontal customerForm">
                <fieldset th:object="${order.getCustomer()}">
                    <h4 align="center">Информация о клиенте</h4>
                    <div class="form-group">
                        <input type="text" class="form-control" id="liveText"
                               th:onkeyup="'showResult(this.value,'+ ${order.getId()} +')'"
                               placeholder="Клиент">
                        <div id="livesearch"></div>
                    </div>
                    <form th:action="${'/manager/order/changeCustomer/'+order.getId()}"
                          method="post"
                          id="addCustomer" th:object="${newCustomer}">
                        <div style="text-align: right">
                            <a th:if="${order.getCustomer()}" href="#" onclick="editCustomer()" id="editBtn" style="text-align: right">
                                Изменить</a>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon customerField">Имя:</span>
                                <input type="text" class="form-control" th:value="${order.customer?.firstName}"
                                       name="firstName" id="firstNameField" readonly="readonly" required="required"
                                       pattern="[A-Za-z]{3,}"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon customerField">Фамилия:</span>
                                <input type="text" class="form-control" th:value="${order.customer?.secName}"
                                       name="secName" id="secNameField" readonly="readonly" required="required"
                                       pattern="[A-Za-z]{3,}"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon customerField">Email:</span>
                                <input type="email" class="form-control" th:value="${order.customer?.email}"
                                       name="email" id="emailField" readonly="readonly" required="required"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon customerField">Телефон:</span>
                                <input type="text" class="form-control customerField"
                                       th:value="${order.customer?.phone}" name="phone" id="phoneField"
                                       readonly="readonly" required="required" pattern="[0-9]{3,}"/>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-info form-control" data-toggle="tooltip"
                                title="Выбрать клиента"
                                style="text-align: center;" form="addCustomer" id="editBtnSub"
                                disabled>Сохранить
                        </button>
                        <b>
                            <div class="form-inline" style="margin-top: 15px"> Способ оплаты: <a
                                href="#modalSetPaymentType" data-toggle="modal"> Изменить</a> </div>  </b>
                        <div style="text-align: center;color:#1abb57">
                            <h5>
                            <span  th:if="${order?.getPaymentType()} != null"
                                   th:text=" ${order?.getPaymentType()}"></span>
                                <span  th:if="${order?.getPaymentType()} == null"> -- </span>
                            </h5>
                        </div>
                        <th:block sec:authorize="hasAuthority('BOSS')">
                        <a th:if="${order?.getPayment()} == false" th:href="'/master/order/'+${order.id} +'/money'"
                           class="btn btn-info form-control"
                           style=" text-align: center; ">Подтвердить оплату</a>
                            <a th:if="${order?.getPayment()} == true" th:href="'/master/order/'+${order.id} +'/money'"
                               class="btn btn-info form-control"
                               style=" text-align: center; ">Отменить оплату</a>
                            <div style="text-align: center;color:#1abb57">
                                <h5>
                            <span th:text=" ${order?.getPaymentString()}"></span>
                                </h5>
                            </div>
                        </th:block>
                        <b>
                            <div>Тип доставки:   <a href="#modalSetDeliveryType" data-toggle="modal"> Изменить</a></div>
                        </b>
                        <div style="text-align: center;color:#1abb57">
                            <h5>
                            <span  th:if="${order?.getDeliveryType()} != null"
                                         th:text=" ${order?.getDeliveryType()}"></span>
                            <span  th:if="${order?.getDeliveryType()} == null"> -- </span>
                            </h5>
                        </div>
                        <th:block th:if="${order?.getDeliveryType()?.getPickup()} == false">
                        <b>
                            <div>Адрес доставки:   <a href="#addressModal"  data-toggle="modal"> Изменить</a></div>
                        </b>
                        <span th:text="${order?.getDefaultDelivery()}" id="deliveryField">
                        </span>
                        </th:block>
                        <th:block th:if="${order?.getDeliveryType()?.getPickup()} == true">
                            <div class="dropdown" style="text-align: center">
                                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    Адреса самовывоза:
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                    <th:block th:each="element, stat: ${pickUpList}">
                                        <li >
                                            <a th:href="'/manager/order/selectDelivery/'+${order.id}+'/'+${element.id}"
                                               th:text="${element}"> </a> </li>
                                    </th:block>
                                </ul>
                            </div>
                            <span th:if="${order?.getDelivery()?.getPickup()} == true"
                                  th:text="${order?.getDelivery()}"> </span>
                        </th:block>
                    </form>
                    <br>
                            <a href="#newCustomerModal" class="btn btn-info form-control" data-toggle="modal"
                               style=" text-align: center; ">Создать Клиента</a>
                </fieldset>
            </div>
            <br>
        </div> <!-- col-lg-3 -->
    </div>
    <div class="container-fluid" style="background-color: lightgrey;padding: 0px;margin: 0px">
        <div class="row col-sm-12" style="padding: 0px;margin: 0px"  >
            <div class="col-sm-9" ></div>
            <div class="col-sm-3" style="text-align: center; "  >
                <a
                    th:if="${order.getDesigner()} != null AND ${order.getMaster()} != null AND ${order.getItems().size()} > 0 AND ${order.getCustomer()} != null AND ${order.getPaymentType()} != null AND ${order.getDelivery()} != null" href="#myModal"
                    class="btn btn-warning  " data-toggle="modal">Отправить заказ</a>
                <a
                    th:if="${order.getDesigner()} == null OR ${order.getMaster()} == null OR ${order.getItems().size()} == 0 OR ${order.getCustomer()} == null OR ${order.getPaymentType()} == null OR ${order.getDelivery()} == null"
                   href="#erroFieldModal"  class="btn btn-warning " data-toggle="modal">Отправить
                    заказ</a>
            </div>
        </div>
    </div>
</div>
<br/>

<!-- Отправка заказа -->
<div id="myModal" class="modal fade ">
    <div class="modal-dialog modal-sm">
        <div class="modal-content modal-sm">
            <!-- Заголовок модального окна -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" th:text="'Текущий статус: ' + ${order.getStatus()}">Заголовок модального
                    окна</h4>
            </div>
            <!-- Основное содержимое модального окна -->
            <div class="modal-body">
                <div th:each="element : ${statuses}" class="form-group">
                    <form th:action="'/manager/order/send/' + ${order.getId()} +'/to/' + ${element.getId()}">
                        <button class="form-control btn btn-warning" th:text="${element.getName()}"></button>
                    </form>
                </div>
            </div>
            <!-- Футер модального окна -->
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>
<!--- end modal -->
<!-- Выбор дизайнера модального окна -->
<div id="designerModal" class="modal fade ">
    <div class="modal-dialog modal-sm">
        <div class="modal-content modal-sm">
            <!-- Заголовок модального окна -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" th:text="'Текущий дизайнер: ' + ${order.getDesigner()}">Заголовок модального окна</h4>
            </div>
            <!-- Основное содержимое модального окна -->
            <div class="modal-body" style="text-align: center">

                <table class="form-group" id="designerTableMD" style="text-align: center">
                    <thead style="text-align: center">
                        <th></th>
                    </thead>
                    <tbody style="text-align: center">
                        <tr th:each="element : ${designerList}" style="text-align: center">
                            <td style="text-align: center; width: 300px;">
                               <h4> <a
                                th:href="'/manager/order/change/' + ${order.getId()} +'/designer/' + ${element.getId()}"
                                    th:text="${element.toString()}"></a>
                               </h4>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- Футер модального окна -->
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>

<!--- end modal -->
<!-- Выбор мастера модального окна -->
<div id="masterModal" class="modal  ">
    <div class="modal-dialog modal-sm">
        <div class="modal-content modal-sm">
            <!-- Заголовок модального окна -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" th:text="'Текущий мастер: ' + ${order.getMaster()}">Заголовок модального
                    окна</h4>
            </div>
            <!-- Основное содержимое модального окна -->
            <div class="modal-body">
                <!--//Заменить на таблицу с js DataTable-->
                <table class="form-group" id="masterTableMD" style="text-align: center">
                    <thead style="text-align: center">
                    <th></th>
                    </thead>
                    <tbody>
                        <tr th:each="element : ${masterList}" style="text-align: center">
                            <td  style="text-align: center; width: 300px">
                                <h4>
                                    <a th:href="'/manager/order/change/' + ${order.getId()} +'/master/' + ${element.getId()}" th:text="${element.toString()}"></a>
                                </h4>
                            </td>
                        </tr>
                    </tbody>
                </table>
                </div>
            <!-- Футер модального окна -->
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>
<!--- end modal -->
<!-- Выбор менеджер модального окна -->
<div id="managerModal" class="modal  ">
    <div class="modal-dialog modal-sm">
        <div class="modal-content modal-sm">
            <!-- Заголовок модального окна -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" th:text="'Текущий менеджер: ' + ${order.getManager()}">Заголовок модального
                    окна</h4>
            </div>
            <!-- Основное содержимое модального окна -->
            <div class="modal-body">
                <!--//Заменить на таблицу с js DataTable-->
                <table class="form-group" id="managerTableMD" style="text-align: center">
                    <thead style="text-align: center">
                        <th></th>
                    </thead>
                    <tbody>
                        <tr th:each="element : ${managerList}" style="text-align: center">
                            <td  style="text-align: center; width: 300px">
                                <h4>
                                    <a
                                        th:href="'/director/order/change/' + ${order.getId()} +'/manager/' + ${element.getId()}" th:text="${element.toString()}"></a>
                                </h4>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- Футер модального окна -->
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>
<!--- end modal -->
<!-- Создание клиента модальное окно -->
<div id="newCustomerModal" class="modal  ">
    <div class="modal-dialog ">
        <div class="modal-content ">
            <!-- Заголовок модального окна -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3>Создание клиента</h3>
            </div>
            <!-- Основное содержимое модального окна -->
            <div class="modal-body">
                <!-- Форма для регистрации -->
                <form th:action="${'/manager/order/addcustomer/'+order.getId()}"
                      method="post" th:object="${newCustomer}" class="form-horizontal">
                    <b>
                        <div style="color: #22a9ff;">Информация о клиенте:</div>
                    </b>
                    <br>
                    <!-- Блок для ввода логина -->
                    <div class="form-group has-feedback">
                        <label class="control-label col-xs-3">Имя:</label>
                        <div class="col-xs-6">
                            <div class="input-group">
                                <span class="input-group-addon"></i></span>
                                <input type="text" class="form-control" required="required" pattern="[a-zA-Z\s]+{3,}" th:field="*{firstName}">
                            </div>
                            <span class="glyphicon form-control-feedback"></span>
                        </div>
                    </div>
                    <div class="form-group has-feedback">
                        <label class="control-label col-xs-3">Фамилия:</label>
                        <div class="col-xs-6">
                            <div class="input-group">
                                <span class="input-group-addon"></span>
                                <input type="text" class="form-control" required="required" pattern="[a-zA-Z\s]+{3,}" th:field="*{secName}">
                            </div>
                            <span class="glyphicon form-control-feedback"></span>
                        </div>
                    </div>
                    <!-- Блок для ввода email -->
                    <div class="form-group has-feedback">
                        <label class="control-label col-xs-3">Email:</label>
                        <div class="col-xs-6">
                            <div class="input-group">
                                <span class="input-group-addon"></span>
                                <input type="email" class="form-control" required="required"
                                       onkeyup="checkUser(this.value)" th:field="*{email}">
                            </div>
                            <span class="glyphicon form-control-feedback"></span>
                        </div>
                        <span id="erroremail" style="color: red"> </span>
                    </div>
                    <!-- Конец блока для ввода email-->
                    <div class="form-group has-feedback">
                        <label class="control-label col-xs-3">Телефон:</label>
                        <div class="col-xs-6">
                            <div class="input-group">
                                <span class="input-group-addon"></span>
                                <input type="text" class="form-control" required="required" pattern="[0-9]{3,12}" th:field="*{phone}">
                            </div>
                            <span class="glyphicon form-control-feedback"></span>
                        </div>
                    </div>
                    <b>
                        <div style="color: #22a9ff;">Адрес доставки:</div>
                    </b>
                    <br>
                    <div th:object="${newDelivery}">
                        <div class="form-group has-feedback">
                            <label class="control-label col-xs-3">Страна:</label>
                            <div class="col-xs-6">
                                <div class="input-group">
                                    <span class="input-group-addon"></span>
                                    <input type="text" class="form-control" required="required" pattern="[a-zA-Z\s]+{3,}" th:field="*{country}">
                                </div>
                                <span class="glyphicon form-control-feedback"></span>
                            </div>
                        </div>
                        <div class="form-group has-feedback">
                            <label class="control-label col-xs-3">Город:</label>
                            <div class="col-xs-6">
                                <div class="input-group">
                                    <span class="input-group-addon"></span>
                                    <input type="text" class="form-control" required="required" pattern="[a-zA-Z\s]+{3,}" th:field="*{city}">
                                </div>
                                <span class="glyphicon form-control-feedback"></span>
                            </div>
                        </div>
                        <div class="form-group has-feedback">
                            <label class="control-label col-xs-3">Адрес:</label>
                            <div class="col-xs-6">
                                <div class="input-group">
                                    <span class="input-group-addon"></i></span>
                                    <input type="text" class="form-control" required="required"
                                           pattern="[a-zA-Z0-9\s]+{3,}"
                                           th:field="*{address}">
                                </div>
                                <span class="glyphicon form-control-feedback"></span>
                            </div>
                        </div>
                        <div class="form-group has-feedback">
                            <label class="control-label col-xs-3">Индекс:</label>
                            <div class="col-xs-6">
                                <div class="input-group">
                                    <span class="input-group-addon"></span>
                                    <input type="text" class="form-control" required="required" pattern="[0-9]{3,}"
                                           th:field="*{zip}">
                                </div>
                                <span class="glyphicon form-control-feedback"></span>
                            </div>
                        </div>
                    </div>
                    <!-- Футер модального окна -->
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-default" id="newCustomerBtn" disabled>Создать</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!--- end modal -->
<!--Адрес доставки модального окна -->
<div id="addressModal" class="modal  ">
    <div class="modal-dialog modal-lg">
        <div class="modal-content ">
            <!-- Заголовок модального окна -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" >Адрес доставки</h4>
            </div>
            <!-- Основное содержимое модального окна -->
            <div class="modal-body">
                <!-- Форма для изменения адреса -->
                <form th:action="${'/manager/order/editDelivery/'+ order.getId()}" method="post"  class="form-horizontal"  th:object="${newDelivery}">
                        <div class="dropdown">
                            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                Адреса клиента:
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1" >
                                <th:block th:each="element, stat: ${order?.customer?.getDeliveries()}">
                                    <li >
                                        <a href="#" href="#" th:text="${element}" th:onclick="'selectCustomerAddress(' +${stat.index}+')'"> </a> </li>
                                </th:block>
                            </ul>
                        </div>
                    <br>
                    <div>
                        <div class="form-group has-feedback">
                            <label class="control-label col-xs-3">Страна:</label>
                            <div class="col-xs-6">
                                <div class="input-group">
                                    <span class="input-group-addon"></span>
                                    <input type="text" class="form-control" required="required" pattern="[a-zA-Z0-9\s]+{3,}"
                                            name="country" id="editAddressCountry"
                                           th:value="${order?.getDelivery()?.getCountry()}" >
                                </div>
                                <span class="glyphicon form-control-feedback"></span>
                            </div>
                        </div>
                        <div class="form-group has-feedback">
                            <label class="control-label col-xs-3">Город:</label>
                            <div class="col-xs-6">
                                <div class="input-group">
                                    <span class="input-group-addon"></span>
                                    <input type="text" class="form-control" required="required" pattern="[a-zA-Z0-9\s]+{3,}" name="city"  th:value="${order?.getDelivery()?.getCity()}"
                                           id="editAddressCity">
                                </div>
                                <span class="glyphicon form-control-feedback"></span>
                            </div>
                        </div>
                        <div class="form-group has-feedback">
                            <label class="control-label col-xs-3">Адрес:</label>
                            <div class="col-xs-6">
                                <div class="input-group">
                                    <span class="input-group-addon"></span>
                                    <input type="text" class="form-control" required="required" pattern="[a-zA-Z0-9\s]+{3,}" name="address" id="editAddressAddress" th:value="${order?.getDelivery()?.getAddress()}" />
                                </div>
                                <span class="glyphicon form-control-feedback"></span>
                            </div>
                        </div>
                        <div class="form-group has-feedback">
                            <label class="control-label col-xs-3">Индекс:</label>
                            <div class="col-xs-6">
                                <div class="input-group">
                                    <span class="input-group-addon"></span>
                                    <input type="text" class="form-control" required="required" pattern="[0-9]{3,}" name="zip" th:value="${order?.getDelivery()?.getZip()}" id="editAddressZip">
                                </div>
                                <span class="glyphicon form-control-feedback"></span>
                            </div>
                        </div>
                    </div>
                    <!-- Футер модального окна -->
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-default" id="editAdressBtn" >Сохранить</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                    </div>
                </form>
        </div>
    </div>
</div>

</div>
    <!-- Ошибка отправки заказа модального окна -->
    <div id="erroFieldModal" class="modal  ">
        <div class="modal-dialog modal-sm">
            <div class="modal-content modal-sm">
                <!-- Заголовок модального окна -->
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title"> Заполните обязательные поля, бля</h4>
                </div>
                <!-- Основное содержимое модального окна -->
                <div class="modal-body">
                    <b> <div style="color: red">
                    <div th:if="${order.getMaster()} == null"> Выберете 'Мастера'</div>
                    <div th:if="${order.getDesigner()} == null"> Выберете 'Дизайнера'</div>
                        <div th:if="${order.getCustomer()} == null"> Выберете 'Клиента'</div>
                        <div th:if="${order.getPaymentType()} == null"> Выберете 'Способ оплаты'</div>
                    <div th:if="${order.getItems().size()} == 0"> Добавте товар в заказ</div>
                        <div th:if="${order.getDelivery()} == null"> Выберете 'Адрес доставки'</div>
                </div>
                </b>
                </div>
                <!-- Футер модального окна -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                </div>
            </div>
        </div>
    </div>
<!--- end modal -->
<!-- Установка типа оплаты -->
<div id="modalSetPaymentType" class="modal fade">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 align="center" class="modal-title">Выберите тип оплаты заказа</h4>
            </div>
            <div class="modal-body">
                <table class="table table-hover noborder">
                    <tbody>
                    <tr th:each="payment : ${paymentList}">
                        <td align="left" th:text="${payment.name}">Наличный</td>
                        <td align="right">
                            <a class="btn btn-info btn-xs" th:href="${'/manager/order/setPaymentType/'+ order.id+'/'+ payment.id}"
                               title="Выбрать"><span class="glyphicon glyphicon-ok"></span></a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">
                    Закрыть
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Установка типа доставки -->
<div id="modalSetDeliveryType" class="modal fade">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 align="center" class="modal-title">Выберите тип доставки заказа</h4>
            </div>
            <div class="modal-body">
                <table class="table table-hover noborder">
                    <tbody>
                    <tr th:each="delivery : ${deliveryTypeList}">
                        <td align="left" th:text="${delivery.name}"></td>
                        <td align="right">
                            <a class="btn btn-info btn-xs" th:href="${'/manager/order/setDeliveryType/'+ order.id+'/'+ delivery.id}" title="Выбрать"><span class="glyphicon glyphicon-ok"></span></a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">
                    Закрыть
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Список клиентов модального окна -->
<div id="customerList" class="modal  ">
    <div class="modal-dialog modal-sm">
        <div class="modal-content modal-sm">
            <!-- Заголовок модального окна -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Список клиентов</h4>
            </div>
            <!-- Основное содержимое модального окна -->
            <div class="modal-body">
                <!--//Заменить на таблицу с js DataTable-->
                <table class="form-group" id="customerTableMD" style="text-align: center">
                    <thead style="text-align: center">
                    <th></th>
                    </thead>
                    <tbody>
                    <tr th:each="element : ${customersList}" style="text-align: center">
                        <td  style="text-align: center; width: 300px">
                            <h4>
                                <a th:href="'/manager/order/changeCustomer/' + ${order.getId()} +'/' + ${element.getId()}" th:text="${element.toString()}"></a>
                            </h4>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <!-- Футер модального окна -->
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>
<!--- end modal -->
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="/js/ajaxCustomer.js"></script>
<script src="/js/ajaxCheckUser.js"></script>
<!--Sorting table-->
<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.16/cr-1.4.1/kt-2.3.2/r-2.2.0/rg-1.0.2/rr-1.2.3/sl-1.2.3/datatables.min.js"></script>
<script src="/js/mxManagerOrder.js"></script>
 <!--Выбор адреса из списка адресов клиента-->
<script th:inline="javascript">
    function selectCustomerAddress(i) {
        var deliveries =  [[${order?.customer?.getDeliveries()}]];
        var tCountry = deliveries[i].country;
        var tCity = deliveries[i].city;
        var tAddress = deliveries[i].address;
        var tZip = deliveries[i].zip;
        var country = document.getElementById("editAddressCountry");
        var city = document.getElementById("editAddressCity");
        var address = document.getElementById("editAddressAddress");
        var zip = document.getElementById("editAddressZip");
        country.value = tCountry;
        city.value = tCity;
        address.value = tAddress;
        zip.value = tZip;
    }
</script>
<script src="http://js.nicedit.com/nicEdit-latest.js" type="text/javascript"></script>
<script src="/js/tabs.js"></script>


<!--переключение вкладок при создании комментария и открытии заказа с комментарием-->
<script th:inline="javascript">
    var tab = [[${tabIndex}]];
    var x = getQueryParam('tabIndex');

    if (x < 0) {
        $("#myTab2 li:eq(0) a").tab('show');
    }

    if (tab != null ) {
        $('#myTab2 li:eq('+tab +') a').tab('show');

    } else {

        if (x > 0) {
            $('#myTab2 li:eq('+x +') a').tab('show');
        } else {
            $("#myTab2 li:eq(0) a").tab('show');
        }
    }
</script>


</body>
</html>