<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Manager Dash Board</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>

    <!-- Optional theme -->
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css"/>

    <link rel="stylesheet" href="/css/manager.css"/>
</head>

<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header"><a class="navbar-brand navbar-link" href="#">CaseMobile</a>
                <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navcol-1">
                	<span class="sr-only">
                		Toggle navigation
                	</span>
                	<span class="icon-bar"></span>
                	<span class="icon-bar"></span>
                	<span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav">
                    <li class="active" role="presentation"><a th:href="@{/manager/orderlist}">Заказы</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
					<li><a href="#">Менеджер</a></li>
					<li>
						<form class="navbar-form navbar-right">
							<button type="submit" class="btn btn-sm btn-info btn-exit" href="#">Выход</button>
						</form>
					</li>
				</ul>
            </div>
        </div>
    </nav>

	<br>
    <div class="container">
		<div class="row">
			<div class="col-lg-9">
				<form class="form-horizontal">
                    <fieldset>
                        <ul class="nav nav-tabs nav-justified">
                        	<li class="active"><a href="#tabItem" data-toggle="tab" aria-expanded="true">Заказ</a></li>
                            <li class=""><a href="#tabComments" data-toggle="tab" aria-expanded="false">Комментарии</a></li>
                            <li class=""><a href="#tabHistory" data-toggle="tab" aria-expanded="false">История</a></li>
                        </ul>

                        <!-- ЗАКАЗ -->
                        <div class="tab-content">
                            <div class="tab-pane active" id="tabItem" role="tabpanel">
                            	<br>
                                <table class="table table-bordered data" text-align="center">
                                    <thead>
                                        <tr>
                                            <th class="table-head">№ Позиции</th>
                                            <th class="table-head">Продукт</th>
                                            <th class="table-head">Материал</th>
                                            <th class="table-head">Модель</th>
                                            <th class="table-head">Количество</th>
                                            <th class="table-head">Стоимость (руб.)</th>
                                            <th class="table-head"></th>
                                            <th class="table-head"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each ="item : ${order.getItems()}">
                                            <td class="table-body" th:text="${item.getId()}">001</td>
                                            <td class="table-body" th:text="${item.getName()}">Чехол</td>
                                            <td class="table-body" th:text="${item.getType()}">Деревянный</td>
                                            <td class="table-body" th:text="${item.getModel()}">Samsung</td>
                                            <td class="table-body" th:text="${item.getCount()}">1</td>
                                            <td class="table-body" th:text="${item.getPrice()}">100</td>
                                            <td align="center">
                                                <a class="btn btn btn-info btn-xs" th:href="${'/manager/updateitem/' + order.getId()}" title="Редактировать"><span class="glyphicon glyphicon-pencil"></span></a>
                                            </td>
                                            <td align="center">
                                                <a class="btn btn-danger btn-xs" th:href="${'/manager/deleteitem/' + order.getId()}"><span class="glyphicon glyphicon-trash"></span></a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>

                                <div class="row">
									<div class="col-sm-9">
										<div class="input-group">
											<span class="input-group-addon">Руб.</span>
											<input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
											<span class="input-group-addon">100.00</span>
										</div>
									</div>
									<div class="col-sm-3" align="Right">
										<button type="button" class="btn btn-success" data-toggle="tooltip" title="Добавить позицию к заказу" style="width: 142px; text-align: center;">
										
										<a href="ManagerItemForm.html" style="color: #FFFFFF;">Добавить</a>
										</button>
									</div>
								</div>
                            </div>

							<!-- КОММЕНТАРИИ -->
                            <div class="tab-pane" id="tabComments" role="tabpanel">
                            	<form class="form-horizontal">
                    				<br/>
                        			<script type="text/javascript" src="http://js.nicedit.com/nicEdit-latest.js"></script> 
                        			<script type="text/javascript">
										bkLib.onDomLoaded(function() { nicEditors.allTextAreas() });
									</script>
									<textarea name="area1" style="width: 848px; height: 100px;">
										Текст комментария
									</textarea>
                    			</form>
                    			<br/>
                    			<button type="button" class="btn btn-success" data-toggle="tooltip" title="Добавить комментарий" style="width: 142px; text-align: center;">
                    				Добавить
                    			</button>
                    			<br/>
                    			<br/>
                    			<form class="form-horizontal" style="border: 1px solid #ddd; border-radius: 3px; width: 848px; height: 400px ;padding: 1px 20px 5px;">
    							</form>
                            </div>
							
							<!-- ИСТОРИЯ ЗАКАЗА -->
                            <div class="tab-pane" id="tabHistory" role="tabpanel">
                            	<br>
                                <table class="table table-bordered data" text-align="center">
                                    <thead>
                                        <tr>
                                            <th class="table-head">№ Заказа</th>
                                            <th class="table-head">Дата получения</th>
                                            <th class="table-head">Дата отправки</th>
                                            <th class="table-head">Статус</th>
                                            <th class="table-head">Отправитель</th>
                                            <th class="table-head">Получатель</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each ="history : ${order.getHistories()}">
                                            <td class="table-body" th:text="${history.getId()}"></td>
                                            <td class="table-body" th:text="${history.getDateRecievedString()}"></td>
                                            <td class="table-body" th:text="${history.getDateTransferredString()}"></td>
                                            <td class="table-body" th:text="${history.getStatus()}"></td>
                                            <td class="table-body" th:text="${history.getFrom()}"></td>
                                            <td class="table-body" th:text="${history.getTo()}"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </fieldset>
                </form>
			</div> <!-- col-lg-9 -->


			<!-- ИНФОРМАЦИЯ О КЛИЕНТЕ -->
			<div class="col-lg-3">
    			<form class="form-horizontal customerForm">
                    <fieldset th:object="${order.getCustomer()}">
                        <h4 align="center">Информация о клиенте</h4>
                        <div class="form-group">
                            <div class="input-group">
                                <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3" placeholder="Клиент">
                                <span class="input-group-btn" id="basic-addon3" style="text-align: center;">
                                    <button class="btn btn-default" type="button">Найти</button>
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon customerField">Имя:</span>
                                <input type="text" class="form-control" th:value="${order.customer.firstName}"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon customerField">Фамилия:</span>
                                <input type="text" class="form-control" th:value="${order.customer.secName}"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon customerField">Email:</span>
                                <input type="text" class="form-control" th:value="${order.customer.email}"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon customerField">Телефон:</span>
                                <input type="text" class="form-control customerField" th:value="${order.customer.phone}"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon customerField">Страна:</span>
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon customerField">Город:</span>
                                <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon customerField">Адрес+ZIP:</span>
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <button type="button" class="btn btn-info" data-toggle="tooltip" title="Создать клиента" style="width: 142px; text-align: center;">Создать</button>
							<button type="button" class="btn btn-info" data-toggle="tooltip" title="Сохранить клиента" style="width: 142px; text-align: center;">Сохранить</button>
                        </div>
                    </fieldset>
                </form>
				<br>

				<!-- ТЕКУЩИЙ СТАТУС -->
				<form class="form-horizontal statusFormBorder">
                    <fieldset align="center">
                        <h4 align="center">Текущий статус</h4>

                        <h3 align="center" class="statusTextBorder" th:text="${order.status}"></h3>
                        
                        <h5 align="center">отправить заказ</h5>	
						<div class="btn-group" align="center">
							<a href="#" class="btn btn-default">Дизайнер</a>
							<a href="#" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
								<span class="caret"></span>
							</a>
							<ul class="dropdown-menu dropdown-menu-right">
								<li><a href="#">Дизайнер 1</a></li>
								<li><a href="#">Дизайнер 2</a></li>
								<li><a href="#">Дизайнер 3</a></li>
							</ul>
						</div>
						<br/>
						<h5 align="center">выберите исполнителя</h5>	
						<div class="btn-group" align="center">
							<a href="#" class="btn btn-default">Дизайнер</a>
							<a href="#" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
								<span class="caret"></span>
							</a>
							<ul class="dropdown-menu dropdown-menu-left">
								<li><a href="#">Мастер</a></li>
							</ul>
						</div>
                    </fieldset>
                </form>
			</div> <!-- col-lg-3 -->
		</div>
    </div>
	<br/>

	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="highlite" style="background-color: #DDDDDD; padding: 1px 14px; border-radius: 5px; width: 1178px; height: 65px;">
					<div class="row">
                        <form th:action="'/manager/send/order=' + ${order.getId()} + '&status=1'" method="post">
                            <div class="col-lg-8" style="padding: 1px 10px ;">
                                <h3 align="left" th:text="${'Заказ № ' + order.getId() + ' от ' + order.getCreated()}">Заказ № 123456789 от 11.10.2017</h3>
                            </div>

                            <div class="col-lg-2" align="Right" style="padding: 15px 5px;" >
                                <button type="button" class="btn btn-primary" data-toggle="tooltip" title="Сохранить заказ" style="width: 140px; text-align: center;">Сохранить</button>
                            </div>

                            <div class="col-lg-2" align="Right" style="padding: 15px;">
                                <button type="submit" class="btn btn-primary" data-toggle="tooltip" title="Отправить заказ" style="width: 140px; text-align: center;">Отправить</button>
                            </div>
                        </form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<br>
	<br>
	<br>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"
            integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"
            integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>

</body>
</html>