<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title> New Item</title>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous"/>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" rel="stylesheet" crossorigin="anonymous"/>

    <link href="/css/managerItemForm.css" rel="stylesheet" />

</head>

<body th:object="${order}">
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand navbar-link" th:href="@{/manager}">CaseMobile</a>
            </div>
            <div class="collapse navbar-collapse" >
                <div class="col-lg-8">
                    <ul class="nav navbar-nav">
                        <th:block th:each="element:  ${#authentication.getAuthorities()}">
                            <ul class="nav navbar-nav" th:each="function : ${element.getFunctions()}">
                                <li class="active" role="presentation"><a th:text="${function?.getName()}"
                                                                          th:href="${function.getLink()}"></a></li>
                            </ul>
                        </th:block>
                    </ul>
                </div>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#"><span sec:authentication="principal"></span></a></li>
                    <li>
                        <form ng-controller="NotificationController" class="navbar-form navbar-right">
                            <a th:href="@{/order/manager/notification/get}" ng-hide="notifications.length == 0" ng-cloak><span class="glyphicon glyphicon-bell" style="color:white; font-size: 22px"></span></a>
                        </form>
                    </li>
                    <li><a th:href="@{/logout}">Выход  <span class="glyphicon glyphicon-log-out"></span></a></li>
				</ul>
            </div>
        </div>
    </nav>

    <br>
    <div class="container">
        <div class="row">
            <div style="text-align: center">
                <h4>Новый заказ</h4>
            </div>
            <br>
            <div class="col-lg-12" >
                <form class="form-horizontal" enctype="multipart/form-data" th:object="${item}" th:action="@{/manager/item/saveNewOrder}" method="post">
                    <div class="col-lg-6">
                        <input type="hidden" th:field="*{id}"/>
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon">Тип продукта:</span>
                                <input type="text" class="form-control" th:field="*{name}" required="required">
                            </div>
                        </div>
                        <div class="form-group" >
                            <div class="input-group">
                                <span class="input-group-addon">Материал:</span>
                                <input type="text" class="form-control" th:field="*{type}"
                                       required="required">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon">Модель телефона:</span>
                                <input type="text" class="form-control" th:field="*{model}"
                                       required="required">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon">Количество:</span>
                                <input class="form-control" type="number" th:field="*{count}"
                                       id="numberItemField" onchange="amountItem()" required="required" value="1" min="1" step="1">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon">Цена за ед. (руб.):</span>
                                <input class="form-control" th:field="*{price}" type="number"  id="priceItemField" onchange="amountItem()"
                                       required="required" value="0" min="0" step="0.01">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon">Сумма (руб.):</span>
                                <input class="form-control" th:field="*{amount}" type="number" id="amountItemField"  readonly>
                            </div>
                        </div>
                        <div class="form-group">
                            <h4 align="left">Комментарий к позиции заказа</h4>
                            <textarea class="form-control" rows="3" th:field="*{comment}"></textarea>
                        </div>
                    </div> <!-- end col-lg-6 -->
                    <div class="col-lg-6">
                        <h4>Добавить файлы</h4>
                        <input type="file" id='fileMulti' name="uploadCustomerFiles" multiple="multiple" style="display: none"/>
                        <label for="fileMulti" class="btn btn-default btn-xs">
                            <span>Обзор...</span>
                        </label>
                        <br/>
                        <span id="outputMulti"></span>
                    </div> <!-- end col-lg-6 -->

                    <div class="col-lg-12" align="right">
                        <hr/>
                        <button type="reset" class="btn btn-success" id="resetItemBtn">Сбросить</button>
                        <a class="btn btn-default" th:href="@{/manager}">Отмена</a>
                        <button type="submit" class="btn btn-primary" disabled id="saveItemBtn">Сохранить</button>
                    </div>
                </form> <!-- end form -->
            </div> <!-- end col-lg-12 -->
        </div>
    </div> <!-- end container -->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" crossorigin="anonymous"></script>

    <!--Предпросмотр файлов загрузки-->
    <script src="/js/previewUploadCustomerFile.js"></script>

    <!--Рассчёт суммы позиции-->
    <script src="/js/mxItemManager.js"></script>

</body>
</html>