<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Order</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>

    <!-- Optional theme -->
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css"/>

    <link rel="stylesheet" href="/css/manager.css"/>
</head>

<body>

<!-- Кнопка, вызывающее модальное окно -->
<a href="#myModal" class="btn btn-primary" data-toggle="modal">Открыть модальное окно</a>
<!-- HTML-код модального окна -->
<div id="myModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Заголовок модального окна -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Заголовок модального окна</h4>
            </div>
            <!-- Основное содержимое модального окна -->
            <div class="modal-body">
                Содержимое модального окна...
            </div>
            <!-- Футер модального окна -->
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                <button type="button" class="btn btn-primary">Сохранить изменения</button>
            </div>
        </div>
    </div>
</div>


    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header"><a class="navbar-brand navbar-link" href="#">CaseMobile</a>
                <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navcol-1">
                	<span class="sr-only">
                		Toggle navigation
                	</span>
                	<span class="icon-bar"></span>
                	<span class="icon-bar"></span>
                	<span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse">
                <div class="col-lg-4">
                    <ul class="nav navbar-nav">
                        <li class="active" role="presentation"><a th:href="@{/manager}">Заказы</a></li>
                    </ul>
                </div>
                <div class="col-lg-4">
                    <h4 style="color: white" align="left" th:text="${'Заказ № ' + order.getId() + ' от ' + order.getCreated()}"></h4>
                </div>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#" th:text="${authUser}">Менеджер <span class="glyphicon glyphicon-user"></span></a></li>
                    <li><a th:href="@{/logout}">Выход  <span class="glyphicon glyphicon-log-out"></span></a></li>
                </ul>
            </div>
        </div>
    </nav>

	<br>
    <div class="container">
		<div class="row">
			<div class="col-lg-9">
				<form class="form-horizontal">
                    <fieldset>
                        <ul class="nav nav-tabs nav-justified">
                        	<li class="active"><a href="#tabItem" data-toggle="tab" aria-expanded="true">Заказ</a></li>
                            <li class=""><a href="#tabComments" data-toggle="tab" aria-expanded="false">Комментарии</a></li>
                            <li class=""><a href="#tabHistory" data-toggle="tab" aria-expanded="false">История</a></li>
                        </ul>

                        <!-- ЗАКАЗ -->
                        <div class="tab-content">
                            <div class="tab-pane active" id="tabItem" role="tabpanel">
                            	<br>
                                <table class="table table-bordered data" text-align="center">
                                    <thead>
                                        <tr>
                                            <th class="table-head">№ Позиции</th>
                                            <th class="table-head">Продукт</th>
                                            <th class="table-head">Материал</th>
                                            <th class="table-head">Модель</th>
                                            <th class="table-head">Количество</th>
                                            <th class="table-head">Стоимость (руб.)</th>
                                            <th class="table-head"></th>
                                            <th class="table-head"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each ="item : ${order.getItems()}">
                                            <td class="table-body" th:text="${item.getId()}">001</td>
                                            <td class="table-body" th:text="${item.getName()}">Чехол</td>
                                            <td class="table-body" th:text="${item.getType()}">Деревянный</td>
                                            <td class="table-body" th:text="${item.getModel()}">Samsung</td>
                                            <td class="table-body" th:text="${item.getCount()}">1</td>
                                            <td class="table-body" th:text="${item.getPrice()}">100</td>
                                            <td align="center">
                                                <a class="btn btn btn-info btn-xs" th:href="${'/manager/item/update/'+ order.getId()+'/'+item.getId()}"title="Редактировать"><span class="glyphicon glyphicon-pencil"></span></a>
                                            </td>
                                            <td align="center">
                                                <a class="btn btn-danger btn-xs" th:href="${'/manager/item/delete/' + item.getId()}"><span class="glyphicon glyphicon-trash"></span></a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>

                                <div class="row">
									<div class="col-sm-9"></div>
                                    <div class="col-sm-3" align="Right">
                                        <a class="btn btn-success" title="Добавить позицию к заказу" th:href="${'/manager/order/addItem/'+order.getId()}">Добавить</a>
                                    </div>
								</div>
                            </div>

							<!-- КОММЕНТАРИИ -->
                            <div class="tab-pane" id="tabComments" role="tabpanel">
                            	<form class="form-horizontal">
                    				<br/>
                        			<script type="text/javascript" src="http://js.nicedit.com/nicEdit-latest.js"></script> 
                        			<script type="text/javascript">
										bkLib.onDomLoaded(function() { nicEditors.allTextAreas() });
									</script>
									<textarea name="area1" style="width: 848px; height: 100px;">
										Текст комментария
									</textarea>
                    			</form>
                    			<br/>
                    			<button type="button" class="btn btn-success" data-toggle="tooltip" title="Добавить комментарий" style="width: 142px; text-align: center;">
                    				Добавить
                    			</button>
                    			<br/>
                    			<br/>
                    			<form class="form-horizontal" style="border: 1px solid #ddd; border-radius: 3px; width: 848px; height: 400px ;padding: 1px 20px 5px;">
    							</form>

                            </div>

							<!-- ИСТОРИЯ ЗАКАЗА -->
                            <div class="tab-pane" id="tabHistory" role="tabpanel">
                            	<br>
                                <table class="table table-bordered data" text-align="center">
                                    <thead>
                                        <tr>
                                            <th class="table-head">№ Заказа</th>
                                            <th class="table-head">Дата получения</th>
                                            <th class="table-head">Дата отправки</th>
                                            <th class="table-head">Статус</th>
                                            <th class="table-head">Отправитель</th>
                                            <th class="table-head">Получатель</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each ="history : ${order.getHistories()}">
                                            <td class="table-body" th:text="${history.getId()}"></td>
                                            <td class="table-body" th:text="${history.getDateRecievedString()}"></td>
                                            <td class="table-body" th:text="${history.getDateTransferredString()}"></td>
                                            <td class="table-body" th:text="${history.getStatus()}"></td>
                                            <td class="table-body" th:text="${history.getFrom()}"></td>
                                            <td class="table-body" th:text="${history.getTo()}"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </fieldset>
                </form>
			</div> <!-- col-lg-9 -->


			<!-- ИНФОРМАЦИЯ О КЛИЕНТЕ -->
			<div class="col-lg-3">
    			<div class="form-horizontal customerForm">
                    <fieldset th:object="${order.getCustomer()}">

                        <h4 align="center">Информация о клиенте</h4>
                        <div class="form-group">
                            <div class="input-group">
                                <input type="text" class="form-control" id="liveText" onkeyup="showResult(this.value)" aria-describedby="basic-addon3" placeholder="Клиент">
                                <div id="livesearch" ></div>
                                <span class="input-group-btn" id="basic-addon3" style="text-align: center;">
                                   <button class="btn btn-default" type="button">Найти</button>
                                </span>
                            </div>
                        </div>
                        <form th:action="${'/manager/order/addcustomer/'+order.getId()}"
                              method="post"
                              id="addCustomer">
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon customerField">Имя:</span>
                                <input type="text" class="form-control" th:value="${order.customer?.firstName}"
                                       name="firstNameField"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon customerField">Фамилия:</span>
                                <input type="text" class="form-control" th:value="${order.customer?.secName}"
                                       name="secNameField"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon customerField">Email:</span>
                                <input type="text" class="form-control" th:value="${order.customer?.email}"
                                       name="emailField"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon customerField">Телефон:</span>
                                <input type="text" class="form-control customerField"
                                       th:value="${order.customer?.phone}" name="phoneField"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon customerField">Страна:</span>
                                <input type="text" class="form-control" name="countryField">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon customerField">Город:</span>
                                <input type="text" class="form-control" id="basic-url"
                                       aria-describedby="basic-addon3" name="cityField">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon customerField">Адрес:</span>
                                <input type="text" class="form-control" name="addressField">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon customerField">Индекс:</span>
                                <input type="text" class="form-control" name="zipField">
                            </div>
                        </div>

                        <div class="form-group">
                           </form>
                            <button type="submit" form="addCustomer" class="btn btn-info" data-toggle="tooltip"
                                    title="Создать клиента"
                                    style="width: 142px; text-align: center;">Создать</button>
							<button type="button" class="btn btn-info" data-toggle="tooltip" title="Сохранить клиента" style="width: 142px; text-align: center;">Сохранить</button>
                        <span th:if="${error}" th:text="${error}"></span>
                        </div>
                    </fieldset>
                </div>
				<br>

				<!-- ТЕКУЩИЙ СТАТУС -->
				<form class="form-horizontal statusFormBorder">
                    <fieldset align="center">
                        <h4 align="center">Текущий статус</h4>
                        <h3 align="center" class="statusTextBorder" th:text="${order.getStatus()}"></h3>
                        <form>
                            <div class="dropdown">
                                <button class="btn btn-info dropdown-toggle" data-toggle="dropdown">Отправить заказ
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a th:href="'/manager/order/send/' + ${order.getId()}">Дизайнеру</a></li>
                                    <li><a th:href="'/manager/order/send/' + ${order.getId()}"> Мастеру </a></li>
                                </ul>
                            </div>
                            <br>
                            <div class="dropdown">
                                <button class="btn btn-info dropdown-toggle" type="button" data-toggle="dropdown">Выбирите исполнителя
                                    <span class="caret"></span></button>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Дизайнер 1</a></li>
                                    <li><a href="#">Дизайнер 2</a></li>
                                    <li class="divider"></li>
                                    <li><a href="#">Мастер 1</a></li>
                                    <li><a href="#">Мастер 2</a></li>
                                </ul>
                            </div>
                         </form>
                    </fieldset>
                </form>
			</div> <!-- col-lg-3 -->
		</div>
    </div>
	<br/>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script src="/js/ajaxCustomer.js"></script>
</body>
</html>