<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Master Dash Board</title>
    <!-- DataTables settings -->
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.16/css/jquery.dataTables.css">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <!-- Optional theme -->
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css"/>
    <!-- JavaScript libraries-->
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
<nav class="navbar navbar-inverse">
	<div class="container-fluid">
		<div class="navbar-header"><a class="navbar-brand navbar-link" href="#">CaseMobile</a>
			<button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navcol-1">
                	<span class="sr-only">
                		Toggle navigation
                	</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
		</div>
		<div class="collapse navbar-collapse" id="navcol-1">
			<ul class="nav navbar-nav">
				<li class="active" role="presentation"><a th:href="@{/master}">Заказы</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li><a href="#">Мастер</a></li>
				<li>
                    <form class="navbar-form navbar-right">
                        <a class="btn btn-sm btn-info logout" th:href="@{/logout}">Выход</a>
                    </form>
				</li>
			</ul>
		</div>
	</div>
</nav>

<br>
<div class="container">
		<ul class="nav nav-tabs">
			<li class="active"><a data-toggle="tab" href="#order">Заказ</a></li>
			<li><a data-toggle="tab" href="#comment">Комментарии</a></li>
			<li><a data-toggle="tab" href="#history">История</a></li>
		</ul>
        <div class="tab-content">
            <div id="order" class="tab-pane fade in active col-lg-9">
                <form class="form-horizontal" style="border: 2px solid #ddd; border-radius: 10px; width: 840px; height: 280px; padding: 1px 20px 5px;">
                    <div class="container-fluid">
                        <div class="row" style="margin:15px 0px;">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <div class="input-group">
                                        <span class="input-group-addon" id="basic-addon3" style="width: 150px; text-align: left;">Менеджер:</span>
                                        <input th:value="${order.getManager()}" type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <span class="input-group-addon" id="basic-addon3" style="width: 150px; text-align: left;">Платёж:</span>
                                        <input th:value="${order.getPaymentString()}" type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <span class="input-group-addon" id="basic-addon3" style="width: 150px; text-align: left;">Доставка:</span>
                                        <input th:value="${order.getDeliveryType()}" type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <span class="input-group-addon" id="basic-addon3" style="width: 150px; text-align: left;">Дата получения:</span>
                                        <input th:value="${order.getDateRecieved()}" type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <span class="input-group-addon" id="basic-addon3" style="width: 150px; text-align: left;">Дата доставки:</span>
                                        <input th:value="${order.getDateTransferred()}" type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
                                    </div>
                                </div>
						    </div>
						    <div class="col-lg-6">
							    <p align="right">
                                    <a th:href="@{'/master/order/' + ${order.getId()}} + '/send'" class="btn btn-success" type="button" style="width: 150px;" >Отправить</a>
                                </p>
							    <p align="right">
                                    <a th:href="@{'/master/order/' + ${order.getId()}} + '/money'" class="btn btn-success" type="button"  style="width: 150px;">Получить деньги</a>
                                </p>
						    </div>
					    </div>
				    </div>
			    </form>
		    </div>
            <div id="comment" class="tab-pane fade, col-lg-9" style="border: 2px solid #ddd; border-radius: 10px; width: 840px; height: 280px; padding: 1px 20px 5px;">
                <h3>Комментарии</h3>
                <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
            <div id="history" class="tab-pane fade, col-lg-9" style="border: 2px solid #ddd; border-radius: 10px; width: 840px; height: 280px; padding: 1px 20px 5px;">
                <table class="table table-bordered data">
                    <thead>
                    <tr>
                        <th>Дата получения</th>
                        <th>Дата отправки</th>
                        <th>Статус</th>
                        <th>Отправитель</th>
                        <th>Получатель</th>
                    </tr>
                    </thead>
                    <tbody>

                    <tr th:each="element: ${order.getHistories()}">
                        <td th:text="${element.getDateRecievedString()}">
                        <td th:text="${element.getDateTransferredString()}">
                        <td th:text="${element.getStatus()}">
                        <td th:text="${element.getTo()}">
                        <td th:text="${element.getFrom()}">
                    </tbody>
                </table>
            </div>
        </div>
		<div class="col-lg-3">
			<form class="form-horizontal" style="border: 2px solid #ddd; border-radius: 10px; width: 270px; height: 280px ;padding: 1px 20px 5px;">
				<div class="row" align="center" style="margin-top:4px">
					<h4>Текущий статус</h4>
					<h4 th:text="${order.getStatus()}" align="center" style="border:1px solid green; width: 150px; padding:5px; color:green;"></h4>
					<h4 th:text="${order.getPaymentString()}" align="center" style="border:1px solid red; width: 150px; padding:5px; color:red;"></h4>
				</div>
			</form>
		</div>
</div>

<div class="container">
	<div class="table-responsive">
        <h4>Позиции заказа</h4>
		<table id="example" class="table table-bordered data" text-align="center" id="example">
			<thead>
			<tr>
				<th style="background-color: #777777; color: #FFFFFF; text-align: center;">№</th>
				<th style="background-color: #777777; color: #FFFFFF; text-align: center;">Продукт</th>
				<th style="background-color: #777777; color: #FFFFFF; text-align: center;">Материал</th>
				<th style="background-color: #777777; color: #FFFFFF; text-align: center;">Модель</th>
				<th style="background-color: #777777; color: #FFFFFF; text-align: center;">Количество</th>
				<th style="background-color: #777777; color: #FFFFFF; text-align: center;">Цена</th>
                <th style="background-color: #777777; color: #FFFFFF; text-align: center;">Статус</th>
				<th style="background-color: #777777; color: #FFFFFF; text-align: center;">Действие</th>
			</tr>
			</thead>
			<tbody>
			<tr th:each="item : ${order.getItems()}">
				<td th:text="${item.getId()}" style="text-align: center;"></td>
				<td th:text="${item.getName()}" style="text-align: center;"></td>
				<td th:text="${item.getType()}" style="text-align: center;"></td>
				<td th:text="${item.getModel()}" style="text-align: center;"></td>
				<td th:text="${item.getCount()}" style="text-align: center;"></td>
				<td th:text="${item.getPrice()}" style="text-align: center;"></td>
				<td th:text="${item.getStatusString()}" style="text-align: center;"></td>
				<td style="text-align:center">
					<!--<a th:href="@{'http://localhost:8080/master/item/' + ${item.getId()}}" class="btn btn-info" type="button">-->
						<!--Открыть-->
					<!--</a>-->
                    <form th:action="@{'/master/order/item/' + ${item.getId()}}" method="get">
                        <input class="btn btn-info"  type="submit" value="Открыть" />
                    </form>
				</td>
			</tr>
			</tbody>
		</table>
	</div>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"
        integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"
        integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>

<script>
    $(document).ready( function() {
        $('#example').DataTable({
            "scrollY":        "200px",
            "scrollCollapse": true,
            "paging":         false
        });
    } );
</script>

</body>
</html>