<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Master Order Form</title>
    
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"/>
</head>

<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header"><a class="navbar-brand navbar-link" href="#">CaseMobile</a>
                <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navcol-1">
                	<span class="sr-only">
                		Toggle navigation
                	</span>
                	<span class="icon-bar"></span>
                	<span class="icon-bar"></span>
                	<span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav">
                    <li class="active" role="presentation"><a href="#">Заказы</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
					<li><a href="#">Мастер</a></li>
					<li>
						<form class="navbar-form navbar-right">
							<button type="submit" class="btn btn-sm btn-info" 
									style="background: #777777; border: #777777; color: #FFFFFF;"
									href="LoginPage.html">
									<a href="LoginPage.html" style="color: #FFFFFF;">Выход</a>
							</button>
						</form>
					</li>				
				</ul>    
            </div>
        </div>
    </nav>

	<br>
    <div class="container">
		<div class="row">
			<ul class="nav nav-tabs">
				<li class="active"><a href="#">Заказ</a></li>
				<li><a href="#">Комментарии</a></li>
				<li><a href="#">История</a></li>
			</ul>
			<div class="col-lg-9">
			<form class="form-horizontal" style="border: 2px solid #ddd; border-radius: 10px; width: 840px; height: 280px; padding: 1px 20px 5px;">
				<div class="container-fluid">
					<div class="row" style="margin:15px 0px;">
						<div class="col-lg-6">
							<div class="form-group">
								<div class="input-group">
									<span class="input-group-addon" id="basic-addon3" style="width: 150px; text-align: left;">Менеджер:</span>
									<input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
								</div>
							</div>
							<div class="form-group">
								<div class="input-group">
									<span class="input-group-addon" id="basic-addon3" style="width: 150px; text-align: left;">Платёж:</span>
									<input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
								</div>
							</div>
							<div class="form-group">
								<div class="input-group">
									<span class="input-group-addon" id="basic-addon3" style="width: 150px; text-align: left;">Доставка:</span>
									<input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
								</div>
							</div>
							<div class="form-group">
								<div class="input-group">
									<span class="input-group-addon" id="basic-addon3" style="width: 150px; text-align: left;">Дата получения:</span>
									<input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
								</div>
							</div>
							<div class="form-group">
								<div class="input-group">
									<span class="input-group-addon" id="basic-addon3" style="width: 150px; text-align: left;">Дата доставки:</span>
									<input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
								</div>
							</div>
						</div>
						<div class="col-lg-6">
							<p align="right"><button type="button" class="btn btn-success" data-toggle="tooltip" title="Готово" style="width: 142px; text-align: center;">Отправить</button></p>				
							<p align="right"><button type="button" class="btn btn-success" data-toggle="tooltip" title="Готово" style="width: 142px; text-align: center;">Получить деньги</button></p>
						</div>
					</div>
				</div>
            </form>
			</div>
			
			<div class="col-lg-3">
    			<form class="form-horizontal" style="border: 2px solid #ddd; border-radius: 10px; width: 270px; height: 280px ;padding: 1px 20px 5px;">
					<div class="row" align="center" style="margin-top:4px">
						<h4>Текущий статус</h4>
							<h4 align="center" style="border:1px solid green; width: 150px; padding:5px; color:green;">В производстве</h4>
							<h4 align="center" style="border:1px solid orange; width: 150px; padding:5px; color:orange;">Не отправлено</h4>				
							<h4 align="center" style="border:1px solid red; width: 150px; padding:5px; color:red;">Не оплачено</h4>
					</div>
                </form>
			</div>
		</div>		
	</div>
	<div class="row" style="margin:1%">
							<div class="col-lg-6" align="center">
							<h4>Позиции заказа</h4>
							</div>
						</div>
	<div class="container">
			<div class="table-responsive">
				<table class="table table-bordered data" text-align="center">
					<thead>
						<tr>
							<th style="background-color: #777777; color: #FFFFFF; text-align: center;">№ Заказа</th>
							<th style="background-color: #777777; color: #FFFFFF; text-align: center;">Менеджер</th>
							<th style="background-color: #777777; color: #FFFFFF; text-align: center;">Платеж</th>
							<th style="background-color: #777777; color: #FFFFFF; text-align: center;">Доставка</th>
							<th style="background-color: #777777; color: #FFFFFF; text-align: center;">Статус</th>
							<th style="background-color: #777777; color: #FFFFFF; text-align: center;">Дата получения</th>
							<th style="background-color: #777777; color: #FFFFFF; text-align: center;">Дата отправки</th>
							<th style="background-color: #777777; color: #FFFFFF; text-align: center;">Действие</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td style="text-align: center;">001</td>
							<td style="text-align: center;">Трамп</td>
							<td style="text-align: center;">Наличный</td>
							<td style="text-align: center;">Курьер</td>
							<td style="text-align: center;">Производство</td>
							<td style="text-align: center;">03/01/2018</td>
							<td style="text-align: center;">04/04/2018</td>     
							<td>
								<button class="btn btn-info" type="button">
									Открыть
								</button>
							</td>
						</tr>
						
						<tr>
							<td style="text-align: center;"></td>
							<td style="text-align: center;"></td>
							<td style="text-align: center;"></td>
							<td style="text-align: center;"></td>
							<td style="text-align: center;"></td>
							<td style="text-align: center;"></td>
							<td style="text-align: center;"></td>     
							<td>
								<button class="btn btn-info" type="button">
									Открыть
								</button>
							</td>
						</tr>
						
						<tr>
							<td style="text-align: center;"></td>
							<td style="text-align: center;"></td>
							<td style="text-align: center;"></td>
							<td style="text-align: center;"></td>
							<td style="text-align: center;"></td>
							<td style="text-align: center;"></td>
							<td style="text-align: center;"></td>     
							<td>
								<button class="btn btn-info" type="button">
									Открыть
								</button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>	
	
</body>
</html>