<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<title>Master Order Form</title>

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
		  integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
		  integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"/>
</head>

<body>
<nav class="navbar navbar-inverse">
	<div class="container-fluid">
		<div class="navbar-header"><a class="navbar-brand navbar-link" href="#">CaseMobile</a>
			<button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navcol-1">
                	<span class="sr-only">
                		Toggle navigation
                	</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
		</div>
		<div class="collapse navbar-collapse" id="navcol-1">
			<ul class="nav navbar-nav">
				<li class="active" role="presentation"><a href="#">Заказы</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li><a href="#">Мастер</a></li>
				<li>
					<form class="navbar-form navbar-right">
						<button type="submit" class="btn btn-sm btn-info"
								style="background: #777777; border: #777777; color: #FFFFFF;"
								href="LoginPage.html">
							<a href="LoginPage.html" style="color: #FFFFFF;">Выход</a>
						</button>
					</form>
				</li>
			</ul>
		</div>
	</div>
</nav>

<br>
<div class="container">
	<div class="row">
		<ul class="nav nav-tabs">
			<li class="active"><a href="#">Заказ</a></li>
			<li><a href="#">Комментарии</a></li>
			<li><a href="#">История</a></li>
		</ul>
		<div class="col-lg-9">
			<form class="form-horizontal" style="border: 2px solid #ddd; border-radius: 10px; width: 840px; height: 280px; padding: 1px 20px 5px;">
				<div class="container-fluid">
					<div class="row" style="margin:15px 0px;">
						<div class="col-lg-6">
							<div class="form-group">
								<div class="input-group">
									<span class="input-group-addon" id="basic-addon3" style="width: 150px; text-align: left;">Менеджер:</span>
									<input th:value="${order.manager}" type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
								</div>
							</div>
							<div class="form-group">
								<div class="input-group">
									<span class="input-group-addon" id="basic-addon3" style="width: 150px; text-align: left;">Платёж:</span>
									<input th:value="${order.payment}" type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
								</div>
							</div>
							<div class="form-group">
								<div class="input-group">
									<span class="input-group-addon" id="basic-addon3" style="width: 150px; text-align: left;">Доставка:</span>
									<input th:value="${order.deliveryType}" type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
								</div>
							</div>
							<div class="form-group">
								<div class="input-group">
									<span class="input-group-addon" id="basic-addon3" style="width: 150px; text-align: left;">Дата получения:</span>
									<input th:value="${order.dateRecieved}" type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
								</div>
							</div>
							<div class="form-group">
								<div class="input-group">
									<span class="input-group-addon" id="basic-addon3" style="width: 150px; text-align: left;">Дата доставки:</span>
									<input th:value="${order.dateTransferred}" type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
								</div>
							</div>
						</div>
						<div class="col-lg-6">
							<p align="right"><button type="button" class="btn btn-success" data-toggle="tooltip" title="Готово" style="width: 142px; text-align: center;">Отправить</button></p>
							<p align="right"><button type="button" class="btn btn-success" data-toggle="tooltip" title="Готово" style="width: 142px; text-align: center;">Получить деньги</button></p>
						</div>
					</div>
				</div>
			</form>
		</div>

		<div class="col-lg-3">
			<form class="form-horizontal" style="border: 2px solid #ddd; border-radius: 10px; width: 270px; height: 280px ;padding: 1px 20px 5px;">
				<div class="row" align="center" style="margin-top:4px">
					<h4>Текущий статус</h4>
					<h4 align="center" style="border:1px solid green; width: 150px; padding:5px; color:green;">В производстве</h4>
					<h4 align="center" style="border:1px solid orange; width: 150px; padding:5px; color:orange;">Не отправлено</h4>
					<h4 align="center" style="border:1px solid red; width: 150px; padding:5px; color:red;">Не оплачено</h4>
				</div>
			</form>
		</div>
	</div>
</div>
<div class="row" style="margin:1%">
	<div class="col-lg-6" align="center">
		<h4>Позиции заказа</h4>
	</div>
</div>
<div class="container">
	<div class="table-responsive">
		<table class="table table-bordered data" text-align="center">
			<thead>
			<tr>
				<th style="background-color: #777777; color: #FFFFFF; text-align: center;">№</th>
				<th style="background-color: #777777; color: #FFFFFF; text-align: center;">Продукт</th>
				<th style="background-color: #777777; color: #FFFFFF; text-align: center;">Материал</th>
				<th style="background-color: #777777; color: #FFFFFF; text-align: center;">Модель</th>
				<th style="background-color: #777777; color: #FFFFFF; text-align: center;">Количество</th>
				<th style="background-color: #777777; color: #FFFFFF; text-align: center;">Цена</th>
				<th style="background-color: #777777; color: #FFFFFF; text-align: center;">Действие</th>
			</tr>
			</thead>
			<tbody>
			<tr th:each="item : ${allItems}">
				<td th:text="${item.id}" style="text-align: center;"></td>
				<td th:text="${item.name}" style="text-align: center;"></td>
				<td th:text="${item.type}" style="text-align: center;"></td>
				<td th:text="${item.model}" style="text-align: center;"></td>
				<td th:text="${item.count}" style="text-align: center;"></td>
				<td th:text="${item.price}" style="text-align: center;"></td>
				<td style="text-align:center">
					<a th:href="@{'http://localhost:8080/master/item/' + ${item.id}}" class="btn btn-info" type="button">
						Открыть
					</a>
				</td>
			</tr>
			</tbody>
		</table>
	</div>
</div>

</body>
</html>