<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="icon" href="/images/OldManFavicon.png">
    <title>Форма товара</title>

    <!-- Latest compiled and minified CSS -->

    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <!-- Optional theme -->
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css"/>

    <!--A lightbox gallery plugin for Bootstrap-->
    <link href="/css/ekko-lightbox.css" rel="stylesheet">
    <!--Собственный стиль-->
    <link rel="stylesheet" type="text/css" href="/css/commentMaster.css" media="all">

    <!-- SmartPhoto -->
    <link rel="stylesheet" href="https://unpkg.com/smartphoto@0.7.6/css/smartphoto.min.css">
    <link rel="stylesheet" href="/css/profile.css ">

    <!-- Angular JS -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-animate.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-sanitize.js"></script>
    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.5.0.js"></script>
    <script th:src="@{/js/masterOrderModule.js}"></script>

</head>

<body ng-app="masterOrderForm">
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand navbar-link" href="/master">CaseMobile</a>
        </div>
        <div class="collapse navbar-collapse" id="navcol-1">
            <th:block th:each="element:  ${#authentication.getAuthorities()}">
                <ul class="nav navbar-nav" th:each="function : ${element.getFunctions()}">
                    <li role="presentation">
                        <a th:text="${function?.getName()}" th:href="${function.getLink()}"></a>
                    </li>
                </ul>
            </th:block>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#userProfile" data-toggle="modal"><span sec:authentication="principal"></span></a></li>
                <li>
                    <form ng-controller="NotificationController" class="navbar-form navbar-right">
                        <a th:href="@{/master/order/notification/get}" ng-hide="notifications.length == 0" ng-cloak><span class="glyphicon glyphicon-comment" style="font-size: 22px; color: white"></span><span class="badge badge-notify" style="background: #ff6d3c">{{notifications.length}}</span></a>
                    </form>
                </li>
                <li>
                    <a href="/logout">Выход  <span class="glyphicon glyphicon-log-out"></span></a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<br><br><br>
<div class="container">
    <div align="center">
        <h4 th:text="${'Заказ № ' + order.getId() + ' от ' + order.getCreated()} +' ' + ${'Статус заказа: ' + order?.getStatus().toString()}"></h4>
    </div>
    <hr>
    <div class="row">
        <div class="col-lg-10">
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><strong>Тип продукта:</strong></span>
                            <input type="text" class="form-control" th:value="${item.product.getProductName()}" readonly style="background: white">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="input-group" >
                            <span class="input-group-addon"><strong>Количество:</strong></span>
                            <input type="text" class="form-control" th:value="${item.count}" readonly style="background: white">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><strong>Модель телефона:</strong></span>
                            <input type="text" class="form-control" th:value="${item.phoneModel.getModelName()}" readonly style="background: white">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><strong>Материал:</strong></span>
                            <input type="text" class="form-control" th:value="${item.getMaterial()}" readonly style="background: white">
                        </div>
                    </div>

                    <div class="form-group">
                        <h4 align="left">Комментарий к позиции заказа</h4>
                        <textarea class="form-control" rows="3" th:text="${item.comment}" readonly style="background: white"></textarea>
                    </div>
                </div> <!--end col-lg-6-->
                <div class="col-lg-6">
                    <div>
                        <h4>Изображения от дизайнера:</h4>
                        <ul class="show-image" th:each="image: ${item?.getImages()}">
                            <a th:href="${image?.getSmallImage()}" data-toggle="lightbox" data-gallery="mygallery">
                                <img th:src="${image?.getSmallImage()}" height="75">
                            </a>
                            <a class="btn btn-primary btn-xs btn-download" th:href="${image?.getImage()}"
                                title="Скачать один файл" th:attr="download=${image?.getFileName()}">
                                <span class="glyphicon glyphicon-download"></span>
                            </a>
                        </ul>
                    </div>
                    <a class="btn btn-info btn-xs" th:href="${'/master/downloadZipImage/' + item.getId()}"
                       title="Скачать все файлы на компьютер">Скачать все файлы</a>
                    <hr>
                </div> <!--end col-lg-6-->
            </div> <!--end col-lg-10-->
        </div>

        <div class="col-lg-2">
            <div class="row" align="center" style="margin-top:4px">
                <h4>Текущий статус</h4>
                <h4 th:text="${item.getStatusString()}" align="center" style="border:1px solid green; width: 142px; padding:5px; color:green;"></h4>
                <p>
                    <a th:href="@{'/master/order/'+ ${order.id} +'/item/' + ${item.getId()}} + '/status'"
                       class="btn btn-success" type="button" style="width: 150px"; >Готово</a>
                </p>
                <p>
                    <a th:href="@{'/master/order/' + ${order.id}}" class="btn btn-success" type="button"
                       style="width:
                    150px";>Назад</a>
                </p>
            </div>
        </div> <!--end col-lg-2-->
    </div> <!--end row-->
</div> <!--end container-->


<!-- Профиль модальное окно -->
<div id="userProfile" class="modal  ">
    <div class="modal-dialog">


        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-6">
                    <div class="well well-sm">
                        <div class="row">
                            <div class="col-sm-6 col-md-4 profileContent">
                                <img id="avatarImg" alt=""
                                     class="img-rounded img-responsive centre"
                                     th:src="${#authentication.getPrincipal()?.avatar}"  />
                                <input accept="image/*" type="file" id='avatar' name="avatar"
                                       style="display: none"/>
                                <label for="avatar" >
                                    <span class="btn btn-sm btn-info profileMargin">Выбрать аватар...</span>
                                </label>
                                <label id="avatarBtn" class="btn btn-primary profileMargin" style="display: none;"  >Сохранить</label>
                                <p> <span id = "avatarMessage"></span> </p>
                            </div>
                            <div class="col-sm-6 col-md-8">
                                <h4
                                    th:text="${#authentication.getPrincipal()?.firstName} +' '+ ${#authentication.getPrincipal()?.secName}" >
                                    Name Secname</h4>
                                <small><cite th:text="${#authentication.getPrincipal()?.created}"><i
                                    class="glyphicon glyphicon-time">
                                </i></cite></small>
                                <p>
                                    <i class="glyphicon glyphicon-user"  ></i><span
                                    th:text="${#authentication.getPrincipal().name}"></span>
                                    <br />
                                    <i class="glyphicon glyphicon-education"  ></i><span
                                    th:text="${#authentication.getPrincipal()?.position}"></span>
                                    <br />
                                    <i class="glyphicon glyphicon-envelope"  ></i><span
                                    th:text="${#authentication.getPrincipal()?.email}"></span>
                                    <br />
                                    <i class="glyphicon glyphicon-phone-alt"></i><span
                                    th:text="${#authentication.getPrincipal()?.phone}"></span>
                                    <br />
                                    <th:block th:each="element: ${#authentication.getPrincipal()?.roles}">
                                        <i class="glyphicon glyphicon-briefcase"></i>
                                        <span th:text="${element?.name}"></span>
                                    </th:block>
                                </p>
                                <!-- Split button -->

                                <div class="row col-sm-12">
                                    <div class="col-sm-6 left" >
                                        <a  href="#" id ="changePassword">Изменить пароль</a>
                                    </div>

                                    <div class="btn-group col-sm-6 profileClose">
                                        <button type="button" class="btn btn-primary btn-sm right"
                                                data-dismiss="modal" onclick="hideChangeBtn()">
                                            Закрыть
                                        </button>
                                    </div>

                                </div>


                                <div class = "row col-lg-12">
                                    <span id="errorCurrentPass"></span>

                                    <div class="input-group">
                                        <input id="currentPass" class="form-control" style="display: none;margin-top:
                                                       5px"
                                               placeholder="Текущий пароль"  type="password" required>
                                    </div>

                                    <div class="input-group">
                                        <input id="newPass" class="form-control profileMargin"
                                               placeholder="Новый пароль" style="display: none" type="password" required >
                                    </div>

                                    <div class="input-group">
                                        <input id="replyPass" class="form-control profileMargin"
                                               placeholder="Повторите пароль" style="display: none" type="password" required >
                                    </div>

                                    <button id="changePassBtn" class="btn btn-sm  btn-success profileMargin" style="display: none" > Применить
                                    </button>
                                    <button type="submit" id="cancelPassBtn" class="btn btn-sm  btn-warning profileMargin"
                                            style="display: none" > Отмена</button>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<!--<script src="/js/masterScript.js"></script>-->
<!-- Optional JavaScript Datatable -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" crossorigin="anonymous"></script>

<!--Просмотр загруженных изображений-->
<script src="/js/ekko-lightbox.js"></script>
<script>
    $(document).on('click', '[data-toggle="lightbox"]', function(event) {
        event.preventDefault();
        $(this).ekkoLightbox();
    });
</script>

<script src="/js/profile.js"></script>

<!--Уведомление о загрузке всех файлов-->
<script>
    function downloadAllFiles() {
        alert("Файлы загружены в папку \"Загрузки\".");
    }
</script>
</body>
</html>